@charset "UTF-8";
/*
** 2.Common style
*/
.mv { height: 90vh; background: url(../images/top/mv.png); background-size: cover; }

.mv img { position: absolute; left: 0; bottom: 20vh; right: 0; margin: auto; }

.news { width: 960px; margin: 0 auto; display: flex; margin-top: -42px; }

.news .list { width: 100%; }

.news .index { background: #6f294e; color: #fff; }

.news .index p { color: #fff; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-size: 20px; width: 165px; text-align: center; padding: 30px; }

.news .list { background: #fff; }

.news ul { height: 80px; border: 1px solid #6f294e; }

.news li { cursor: pointer; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #6f294e; font-size: 14px; font-weight: bold; width: 90%; margin: 0 auto; line-height: 40px; }

.news li:hover { opacity: 0.7; }

.news li:first-child { border-bottom: 1px solid #6f294e; }

.news li a { color: #6f294e; }

.news li span.date { padding-right: 10px; }

.news li span.title { color: #000; }

.news-topic { padding-bottom: 150px; }

.news-topic .container { width: 960px; margin: 0 auto; }

.news-topic h2 { font-size: 24px; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; text-align: center; margin: 70px auto 40px; color: #888888; }

.news-topic .tab { border-bottom: 1px solid #000; position: relative; }

.news-topic .tab a { position: absolute; right: 0; top: 0; bottom: 0; margin: 0 auto; display: block; font-size: 14px; background: #fff; padding: 8px 20px; margin: 0 0 0 6px; border: 1px solid #6f294e; border-bottom: none; transition-duration: 0.3s; }

.news-topic .tab a:hover { opacity: 0.7; transition-duration: 0.3s; }

.news-topic .tab a img { width: 14px; margin-right: 5px; }

.news-topic .tab ul { display: flex; }

.news-topic .tab li { font-size: 14px; border: 1px solid #000; border-bottom: none; height: 30px; width: 90px; box-sizing: border-box; text-align: center; line-height: 30px; margin-right: 12px; transition-duration: 0.3s; cursor: pointer; }

.news-topic .tab .-selected { background: #80244e; color: #fff !important; }

.news-topic .tab #tab-all { color: #80244e; }

.news-topic .tab #tab-all:hover { background: #80244e; color: #fff; }

.news-topic .tab #tab-school { color: #5fb5ec; }

.news-topic .tab #tab-school:hover { background: #5fb5ec; color: #fff; }

.news-topic .tab #tab-club { color: #dd960f; }

.news-topic .tab #tab-club:hover { background: #dd960f; color: #fff; }

.news-topic .tab #tab-exam { color: #c50018; }

.news-topic .tab #tab-exam:hover { background: #c50018; color: #fff; }

.news-topic .tab #tab-blog { color: #00984b; }

.news-topic .tab #tab-blog:hover { background: #00984b; color: #fff; }

.news-topic .tab #tab-education { color: #7c589d; }

.news-topic .tab #tab-education:hover { background: #7c589d; color: #fff; }

.news-topic .tab #tab-other { color: #000; }

.news-topic .tab #tab-other:hover { background: #000; color: #fff; }

.news-topic .news-list ul { flex-wrap: wrap; display: flex; justify-content: flex-start; }

.news-topic .news-list li { width: 235px; height: 200px; position: relative; padding: 5px 0 0 7px; margin-left: -2px; }

.news-topic .news-list li:hover { opacity: 0.7; transition-duration: 0.3s; }

.news-topic .news-list .list-school li, .news-topic .news-list .list-club li, .news-topic .news-list .list-exam li, .news-topic .news-list .list-blog li, .news-topic .news-list .list-education li, .news-topic .news-list .list-other li { display: none; }

.news-topic .news-list .images { width: 100%; height: 200px; overflow: hidden; background: #fff; }

.news-topic .news-list .images img { width: 100%; object-fit: cover; }

.news-topic .news-list .cat { font-size: 14px; color: #fff; position: absolute; padding: 7px 20px; }

.news-topic .news-list .cat.cat-school { background: #5fb5ec; }

.news-topic .news-list .cat.cat-club { background: #dd960f; }

.news-topic .news-list .cat.cat-exam { background: #c50018; }

.news-topic .news-list .cat.cat-blog { background: #00984b; }

.news-topic .news-list .cat.cat-education { background: #7c589d; }

.news-topic .news-list .cat.cat-other { background: #000; }

.news-topic .news-list .detail { background: rgba(0, 0, 0, 0.7); color: #fff; position: absolute; bottom: 0; padding: 10px; line-height: 20px; }

.news-topic .news-list .detail .post-title { min-width: 215px; min-height: 40px; }

@media (max-width: 680px) { main { margin-top: 73px; }
  .mv { width: 100%; height: 30vh; background-position: center; position: relative; }
  .mv img { bottom: 60px; width: 180px; }
  .news { position: relative; width: 90%; flex-direction: column; }
  .news .index p { width: 100%; padding: 7px 0; font-size: 1.6rem; }
  .news-topic h2 { font-size: 2rem; margin: 40px auto; }
  .news-topic .container { width: 90%; }
  .news-topic .tab ul { flex-direction: column; }
  .news-topic .tab li { width: 100%; }
  .news-topic .tab a { bottom: 0; position: relative; margin: 0 auto; text-align: center; display: block; }
  .news-topic .news-list a { width: 49%; }
  .news-topic .news-list ul { justify-content: space-between; }
  .news-topic .news-list li { display: block; width: 100%; height: 160px; margin-left: 0; padding: 4px 0 0 0; }
  .news-topic .news-list .detail { text-overflow: ellipsis; width: 100%; box-sizing: border-box; }
  .news-topic .news-list .detail p { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; min-width: auto !important; min-height: auto !important; }
  .news-topic .news-list .images { height: 160px; } }

.news-topic { padding-bottom: 75px; }

@keyframes show { from { opacity: 0; }
  to { opacity: 1; } }

@media all and (-ms-high-contrast: none) { .news-topic .news-list .cat { padding: 9px 20px 3px; }
  .mv img { bottom: -450px; } }
