@charset "UTF-8";
/*
** 1.Reset
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; font-family: 'Noto Sans JP',YuGothic,'Yu Gothic','Yu Gothic UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: unset; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) { .body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a:link, a:visited, a:hover { text-decoration: none; color: inherit; color: initial; }

a img { border-width: 0px; border-style: none; border-color: #fff; background: transparent; outline: none; }

img, *:focus { outline: none; }

p { font-size: 15px; font-weight: 500; transform: rotate(0.05deg); }

h1, h2, h3, h4, h5 { transform: rotate(0.05deg); }

/*
** Common style
*/
html { min-width: 1100px; font-size: 62.5%; }

h1 { font-weight: bold; color: #000; font-size: 18px; }

header { height: 160px; border-bottom: 1px solid #ccc; background-color: rgba(255, 255, 255, 0.8); position: fixed; top: 0; width: 100%; z-index: 99; transition-duration: .1s; }

header.-scrolled { background-color: white; transition-duration: .2s; }

header .container { width: 1025px; margin: 0 auto; position: relative; }

header .upper { text-align: center; padding: 15px 0 0 0; line-height: 30px; }

header .right { position: absolute; right: 0; top: 5px; }

header .right .active:before { position: absolute; content: ''; width: 15px; height: 15px; background: url(../images/common/lamp-1.png); display: inline-block; background-size: contain; margin-right: 5px; left: 36px; top: 1px; }

header .right .active:after { animation: blink 1s ease-in-out infinite alternate; opacity: 1; position: absolute; content: ''; width: 15px; height: 15px; background: url(../images/common/lamp-2.png); display: inline-block; background-size: contain; margin-right: 5px; left: 36px; top: 1px; }

@keyframes blink { 0% { opacity: 0; }
  100% { opacity: 1; } }

header .right div { position: relative; font-size: 14px; border: 1px solid #6f294e; width: 170px; color: #6f294e; text-align: center; line-height: 20px; margin: 10px 0; transition-durtaion: .3s; }

header .right div:hover { background: #6f294e; color: #fff; transition-duration: .3s; }

header .lower { width: 960px; display: flex; justify-content: space-evenly; padding: 20px 0; margin: 0 auto; }

header .lower .block { width: 120px; text-align: center; flex-grow: 2; cursor: pointer; }

header .lower .block p { width: 100%; border-right: 1px solid #000; backface-visibility: hidden; }

header .lower .block p:after { content: ''; height: 6px; width: 0%; background: #6f294e; display: block; position: absolute; bottom: -15px; left: 0; right: 0; margin: auto; opacity: 0; transition-duration: .3s; }

header .lower .block:hover > p:after { opacity: 1; width: 53%; transition-duration: .3s; }

header .lower .block:hover > ul li { height: 40px; transition-duration: .3s; }

header .lower .block:last-child p { border-right: none; }

header .lower ul { margin-top: 20px; }

header .lower li { font-size: 12px; width: 140px; overflow: hidden; height: 0px; line-height: 40px; transition-duration: .3s; background: rgba(255, 255, 255, 0.7); padding: 0 10px; margin-left: -10px; }

header .lower li:hover { background: rgba(111, 41, 78, 0.7); color: #fff; transition-duration: .3s; }

header .fb { width: 24px !important; right: 0; position: absolute; top: 117px; opacity: 1; }

header .fb:hover { opacity: 0.7; }

header .map { right: 26px; position: absolute; top: 118px; opacity: 1; width: 24px !important; }

header .map:after { opacity: 0; transition-duration: .3s; content: 'アクセス'; font-size: 12px; background: rgba(255, 255, 255, 0.7); position: inherit; width: 80px; top: -15px; left: -28px; margin: auto; z-index: 1; }

header .map:hover > img { opacity: 0.7; }

header .map:hover:after { opacity: 1; transition-duration: .3s; }

header .map img { height: 24px; }

footer { background: rgba(0, 0, 0, 0.4); color: #fff; padding-top: 40px; }

footer .colophon p { background: #fff; color: #000; font-size: 10px; text-align: center; line-height: 26px; }

footer h3 { font-family: yu gothic; font-size: 18px; font-weight: bold; margin-bottom: 16px; }

footer .container { width: 960px; margin: 0 auto; }

footer .info { display: flex; justify-content: space-between; }

footer .left p { line-height: 22px; }

footer .right { position: relative; }

footer .right .fb { color: #fff; font-size: 14px; width: 65px; left: -70px; position: absolute; top: 20px; transition-duration: 0.3s; }

footer .right .fb:hover { opacity: 0.7; transition-duration: 0.3s; }

footer .right .fb img { padding-left: 6px; }

footer .right a div { font-size: 14px; border: 1px solid #fff; width: 167px; color: #fff; text-align: center; line-height: 22px; margin: 8px 0; transition-duration: 0.3s; }

footer .right a div:hover { background: #fff; color: #999; transition-duration: 0.3s; }

footer .sitemap { margin: 50px auto; }

footer .sitemap h4 { font-size: 16px; line-height: 55px; position: relative; margin-bottom: 15px; }

footer .sitemap h4:before { content: ''; height: 2px; width: 10px; background: #fff; display: block; bottom: 0; position: absolute; }

footer .sitemap a { color: #fff; font-size: 13px; line-height: 2; transition-duration: 0.3s; }

footer .sitemap a:hover { transition-duration: 0.3s; opacity: 0.7; }

footer .sitemap .container { display: flex; justify-content: space-between; }

footer .sitemap .box { display: flex; flex-direction: column; }

footer .links { margin-bottom: 30px; }

footer .links ul { display: flex; margin: 0 auto 10px; justify-content: center; width: 400px; line-height: 18px; }

footer .links a:last-child li { border-right: none; }

footer .links li { color: #fff; font-size: 12px; padding: 0 20px; border-right: 1px solid #fff; transition-duration: 0.3s; }

footer .links li:hover { transition-duration: 0.3s; opacity: 0.7; }

header .modal { position: fixed; height: 100vh; width: 100vw; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 999; display: none; }

header .modal.-active { display: block; }

.document { cursor: pointer; }

#document-modal { position: absolute; overflow: scroll !important; width: 660px; height: 440px; padding: 25px; background: #fff; font-size: 14px; left: 0; right: 0; top: 0; bottom: 0; margin: auto; background-color: white; line-height: 22px; overflow-y: scroll; transition-duration: 0.3s; opacity: 0; text-align: center; }

#document-modal.-current { animation: show .3s linear 0s; opacity: 1; z-index: 100; overflow: hidden !important; }

#document-modal h4 { font-size: 18px; font-weight: 500; color: #6f294e; letter-spacing: 1px; line-height: 27px; word-break: break-all; }

#document-modal .flex { position: initial; width: 100%; padding: 20px; border: none; height: auto; display: flex; justify-content: space-around; box-sizing: border-box; }

#document-modal .flex a { width: 240px; padding: 10px; font-size: 18px; font-weight: 500; background: content-box; color: #6f294e; border: 2px solid #6f294e; border-radius: 5px; transition-duration: .3s; text-align: center; }

#document-modal .flex a:hover { background: #6f294e; color: #fff; transition-duration: .3s; }

#document-modal p { font-size: 13px; line-height: 18px; text-align: left; padding-left: 38px; }

#document-modal em { font-size: 14px; font-weight: bold; line-height: 40px; }

#document-modal strong { text-decoration: underline; }

.sp { display: none; }

#lamp { display: none; }

@media (max-width: 980px) { .sp { display: block; }
  #document-modal { width: 90%; height: 80vh; box-sizing: border-box; overflow: scroll; }
  #document-modal .flex { padding: 0; margin: 20px auto; }
  #document-modal .flex a { font-size: 14px; padding: 4px 0; }
  #document-modal p { padding-left: 0; }
  #document-modal div { width: 90%; box-sizing: border-box; top: 50px; }
  h1 { font-size: 14px; line-height: 25px; padding-left: 10px; float: left; text-align: left; }
  header { height: 72px; }
  header .container { width: 100%; height: 100%; }
  header .upper { padding: 11px 0 0 0; }
  header .map { position: static; width: 130px !important; margin-bottom: 16px !important; }
  header .map ul { margin-top: 0; }
  header .fb { width: 130px !important; }
  header #lamp { width: 48px; height: 49px; display: block; position: absolute; right: 59px; top: 0; bottom: 0; margin: auto; }
  header #lamp span { position: absolute; bottom: 2px; font-size: 1.1rem; }
  header #lamp:before { animation: blink 1s ease-in-out infinite alternate; opacity: 1; position: inherit; content: ''; width: 26px; height: 26px; background: url(../images/common/lamp-1.png); display: inline-block; background-size: contain; left: 0; top: 0; right: 0; margin: auto; display: block; }
  header #lamp:after { animation: blink 1s ease-in-out infinite alternate; opacity: 1; position: inherit; content: ''; width: 26px; height: 26px; background: url(../images/common/lamp-2.png); display: inline-block; background-size: contain; left: 0; top: 0; right: 0; margin: auto; display: block; }
  header .sp-btn { position: absolute; right: 12px; top: 0; bottom: 0; margin: auto; height: 49px; }
  header .sp-btn .bar { height: 4px; width: 35px; display: block; background: #525252; border-radius: 20px; margin-bottom: 8px; }
  header .sp-btn .text { font-size: 1.2rem; }
  header .upper img { width: 43px; float: left; padding: 3px; padding-left: 10px; }
  header .right { display: none; }
  header .close { position: absolute; right: 12px; top: 5px; margin: auto; height: 50px; width: 50px; }
  header .close span { height: 4px; width: 35px; display: block; background: #80244e; border-radius: 20px; top: 0; bottom: 0; left: 0; right: 0; margin: auto; position: inherit; }
  header .close span:first-child { height: 4px; width: 40px; display: block; background: #80244e; border-radius: 20px; transform: rotate(45deg); }
  header .close span:last-child { height: 4px; width: 40px; display: block; background: #80244e; border-radius: 20px; transform: rotate(135deg); }
  header .lower { transition-duration: 0.3s; display: block; background: #fff; height: 100vh; position: fixed; width: 200px; right: -200px; top: 0; padding-top: 80px; z-index: 99; }
  header .lower.-open { right: 0; transition-duration: 0.3s; }
  header .lower .block:hover > p:after { width: 100%; height: 2px; }
  header .lower .block { margin: 0 auto; width: 130px; text-align: left; }
  header .lower .block p { border-right: none; border-left: 5px solid #6f294e; padding-left: 10px; }
  header .fb { position: static; }
  header .right.sp { display: block; position: unset; }
  header .right.sp div { margin: 10px 30px auto; width: 160px; font-size: 14px; }
  footer .container { width: 90%; }
  footer .info { flex-direction: column; }
  footer h3 { line-height: 30px; }
  footer .right .fb { position: unset; margin: 20px auto; display: block; }
  footer .right a div { margin: 10px auto; }
  footer .sitemap { display: none; }
  footer .links { display: block; margin: 20px 0; }
  footer .links ul { width: 100%; flex-wrap: wrap; } }

@media (max-width: 680px) { html { min-width: auto; width: auto; }
  .block.-current > p:after { width: 100%; height: 2px; }
  header .lower .block:hover > ul li { height: 0px; }
  header .lower .block.-current:hover > ul li, header .lower .block.-current li { height: 40px; } }
