//画面サイズ 【_parts.scssと同期すること】

//画面サイズ
$win-sm: 400px;
$win-md: 888px;//$win-md: 768px;// タブレット
$win-lg: 980px;
$win-xl: 1200px;// PC最大
$win-xxl: 1600px;// スライダー専用（他使用不可）

//ベース単位（PC/SP）（Pixcel）
$base_size_pc: 10px;
$base_size_sp: 3vw;

//基本フォントサイズ（rem）
$font_size: 1.6rem;
//行間
$line_height: 1.75;
//マージン（ブロックごと※行間は半分）※PCのみ適用、SPは"$font_size"に準じる
$row: 3.2rem;

// 線の基本色
$border_color: #ccc;

//基本色
$color: #333; // 文字色
$base: #808080;
$bg: #f8f8f8;

// min-width
$breakpoint-up: (
 'sm': 'screen and (min-width:' +$win-sm+ ')',
 'md': 'screen and (min-width:' +$win-md+ ')',
 'lg': 'screen and (min-width:' +$win-lg+ ')',
 'xl': 'screen and (min-width:' +$win-xl+ ')',
 'xxl': 'screen and (min-width:' +$win-xxl+ ')',
) !default;
// max-width
$breakpoint-down: (
 'sm': 'screen and (max-width' +($win-sm - 1)+ ')',
 'md': 'screen and (max-width:' +($win-md - 1)+ ')',
 'lg': 'screen and (max-width:' +($win-lg - 1)+ ')',
 'xl': 'screen and (max-width:' +($win-xl - 1)+ ')',
 'xxl': 'screen and (max-width:' +($win-xxl - 1)+ ')',
) !default;
// max-min-width
$breakpoint-updown: (
 'sm,md': 'screen and (max-width' +($win-md - 1)+ ')' and 'screen and (min-width:' +$win-sm+ ')',
 'md,lg': 'screen and (max-width:' +($win-lg - 1)+ ')' and 'screen and (min-width:' +$win-md+ ')',
 'lg,xl': 'screen and (max-width:' +($win-xl - 1)+ ')' and 'screen and (min-width:' +$win-lg+ ')',
 'xl,xxl': 'screen and (max-width:' +($win-xxl - 1)+ ')' and 'screen and (min-width:' +$win-xl+ ')',
) !default;
@mixin mq-up($breakpoint: lg) {
 @media #{map-get($breakpoint-up, $breakpoint)} {
   @content;
 }
}
@mixin mq-down($breakpoint: lg) {
 @media #{map-get($breakpoint-down, $breakpoint)} {
   @content;
 }
}

//=========================================
.hide {
  display: none;
}

.modal_win {
  video + p:nth-last-child(2) {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
  }
}

//モーダルウインドウの表示
.modal {
  cursor: pointer;
  &[href^="#"]+[id] {
    display: none;
  }
}
.modal_contents {
  display: none;
}
.modal_win {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.7);
  align-items: center;
   justify-content: center;
   display: none;
   >* {
     background-color: $bg;
   }
   @include mq-down() {
     >p {
       width: calc(100% - 2rem);
       >img {
         width: 100%;
       }
     }
   }
   img {
     opacity: inherit;
   }
   video {
     width: 100%;
     display: block;
   }
   iframe {
     @include mq-up() {
       width: 100%;
       height: 100%;
       max-width: 120rem;
       max-height: 90rem;
     }
   }
   >div {
   @include mq-up() {
     //width: 120rem;
     max-width: 75%;//max-width: $win-md;
     max-height: 75%;
   }
   @include mq-down() {
     max-width: calc(100% - #{$row});
     max-height: calc(100% - #{$row});
     > div {
         overflow-y: scroll;
         max-height: calc(100vh - #{$row});
     }
   }
 }
 >* {
   position: relative;
   >.close {
     position: absolute;
     z-index: 2;
     @include mq-up() {
       right: -2rem;
       top: -2rem;
       width: 4.5rem;
       height: 4.5rem;
     }
     @include mq-down() {
       right: -1rem;
       top: -1rem;
       width: 3rem;
       height: 3rem;
     }
     background-color: #fff;
     border-radius: 50%;
     border: 2px solid $base;
     &::before,
     &::after {
       content: "";
       position: absolute;
       display: block;
       left: 33.33%;
       right: 33.33%;
       top: calc(50% -  1px);
       background-color: $base;
       height:  2px;
     }
     &::before {
       transform: rotate(-45deg);
     }
     &::after {
       transform: rotate(45deg);
     }
     &:hover {
       background-color: $base;
       &::before,
       &::after {
         background-color: #fff;
       }
     }
   }
 }
 >p {
   position: relative;
   .caption {
     position: absolute;
     display: block;
     left: 0;
     right: 0;
     bottom: 0;
     text-align: center;
     padding: $font-size $row;
     color: #fff;
     text-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0,0.25), -0.2rem -0.2rem 0.4rem rgba(0,0,0,0.25), -0.2rem 0.2rem 0.4rem rgba(0,0,0,0.25), -0.2rem -0.2rem 0.4rem rgba(0,0,0,0.25);
     background: linear-gradient(0deg, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
   }
   .prev,.next  {
     width: 50%;
     display: flex;
     position: absolute;
     top: 0;
     bottom: 0;
     align-items: center;
     padding: $row;
     &::before {
       content: "";
       display: block;
       width: 1.5em;
       height: 1.5em;
       border: solid #fff;
       border-width: 0.2em 0.2em 0 0;
       opacity: 0;
     }
     &:hover::before  {
       opacity: 1;
     }
   }
   .prev {
     &:hover {
       background: linear-gradient(90deg, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
     }
     justify-content: flex-start;
     left: 0;
     &::before {
       transform: rotate(-135deg);
     }
   }
   .next {
     &:hover {
       background: linear-gradient(-90deg, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
     }
     justify-content: flex-end;
     right: 0;
     &::before {
       transform: rotate(45deg);
     }
   }
 }
}
