.hide { display: none; }

.modal_win video + p:nth-last-child(2) { background-color: #000; color: #fff; text-align: center; padding: 1rem 2rem; }

.modal { cursor: pointer; }

.modal[href^="#"] + [id] { display: none; }

.modal_contents { display: none; }

.modal_win { position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1000; background-color: rgba(0, 0, 0, 0.7); align-items: center; justify-content: center; display: none; }

.modal_win > * { background-color: #f8f8f8; }

@media screen and (max-width: 979px) { .modal_win > p { width: calc(100% - 2rem); }
  .modal_win > p > img { width: 100%; } }

.modal_win img { opacity: inherit; }

.modal_win video { width: 100%; display: block; }

@media screen and (min-width: 980px) { .modal_win iframe { width: 100%; height: 100%; max-width: 120rem; max-height: 90rem; } }

@media screen and (min-width: 980px) { .modal_win > div { max-width: 75%; max-height: 75%; } }

@media screen and (max-width: 979px) { .modal_win > div { max-width: calc(100% - 3.2rem); max-height: calc(100% - 3.2rem); }
  .modal_win > div > div { overflow-y: scroll; max-height: calc(100vh - 3.2rem); } }

.modal_win > * { position: relative; }

.modal_win > * > .close { position: absolute; z-index: 2; background-color: #fff; border-radius: 50%; border: 2px solid #808080; }

@media screen and (min-width: 980px) { .modal_win > * > .close { right: -2rem; top: -2rem; width: 4.5rem; height: 4.5rem; } }

@media screen and (max-width: 979px) { .modal_win > * > .close { right: -1rem; top: -1rem; width: 3rem; height: 3rem; } }

.modal_win > * > .close::before, .modal_win > * > .close::after { content: ""; position: absolute; display: block; left: 33.33%; right: 33.33%; top: calc(50% -  1px); background-color: #808080; height: 2px; }

.modal_win > * > .close::before { transform: rotate(-45deg); }

.modal_win > * > .close::after { transform: rotate(45deg); }

.modal_win > * > .close:hover { background-color: #808080; }

.modal_win > * > .close:hover::before, .modal_win > * > .close:hover::after { background-color: #fff; }

.modal_win > p { position: relative; }

.modal_win > p .caption { position: absolute; display: block; left: 0; right: 0; bottom: 0; text-align: center; padding: 1.6rem 3.2rem; color: #fff; text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25), -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.25), -0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25), -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.25); background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%); }

.modal_win > p .prev, .modal_win > p .next { width: 50%; display: flex; position: absolute; top: 0; bottom: 0; align-items: center; padding: 3.2rem; }

.modal_win > p .prev::before, .modal_win > p .next::before { content: ""; display: block; width: 1.5em; height: 1.5em; border: solid #fff; border-width: 0.2em 0.2em 0 0; opacity: 0; }

.modal_win > p .prev:hover::before, .modal_win > p .next:hover::before { opacity: 1; }

.modal_win > p .prev { justify-content: flex-start; left: 0; }

.modal_win > p .prev:hover { background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%); }

.modal_win > p .prev::before { transform: rotate(-135deg); }

.modal_win > p .next { justify-content: flex-end; right: 0; }

.modal_win > p .next:hover { background: linear-gradient(-90deg, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%); }

.modal_win > p .next::before { transform: rotate(45deg); }
