@charset "UTF-8";
/* 1.Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; font-family: 'Noto Sans JP',YuGothic,'Yu Gothic','Yu Gothic UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: unset; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) { .body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a:link, a:visited, a:hover { text-decoration: none; color: inherit; color: initial; }

a img { border-width: 0px; border-style: none; border-color: #fff; background: transparent; outline: none; }

img, *:focus { outline: none; }

p { font-size: 15px; font-weight: 500; transform: rotate(0.05deg); }

h1, h2, h3, h4, h5 { transform: rotate(0.05deg); }

/* Common style */
html { min-width: 1100px; font-size: 62.5%; }

h1 { font-weight: bold; color: #000; font-size: 18px; }

body:not(#top) header { background-color: #fff; }

body:not(#top) header .lower .block:hover > ul li { background-color: #fff; }

body:not(#top) header .lower .block:hover > ul a:hover li { background-color: #6f294e; }

header { height: 160px; border-bottom: 1px solid #ccc; background-color: rgba(255, 255, 255, 0.8); position: fixed; top: 0; width: 100%; z-index: 99; transition-duration: .1s; }

header.-scrolled { background-color: white; transition-duration: .2s; }

header .container { width: 1025px; margin: 0 auto; position: relative; }

header .upper { text-align: center; padding: 15px 0 0 0; line-height: 30px; }

header .right { position: absolute; right: 0; top: 5px; }

header .right .active:before { position: absolute; content: ''; width: 15px; height: 15px; background: url(../images/common/lamp-1.png); display: inline-block; background-size: contain; margin-right: 5px; left: 36px; top: 1px; }

header .right .active:after { animation: blink 1s ease-in-out infinite alternate; opacity: 1; position: absolute; content: ''; width: 15px; height: 15px; background: url(../images/common/lamp-2.png); display: inline-block; background-size: contain; margin-right: 5px; left: 36px; top: 1px; }

@keyframes blink { 0% { opacity: 0; }
  100% { opacity: 1; } }

header .right div { position: relative; font-size: 14px; border: 1px solid #6f294e; width: 170px; color: #6f294e; text-align: center; line-height: 20px; margin: 10px 0; transition-durtaion: .3s; }

header .right div:hover { background: #6f294e; color: #fff; transition-duration: .3s; }

header .lower { width: 960px; }

header .lower > .gnav { width: 100%; display: flex; justify-content: space-evenly; padding: 20px 0; margin: 0 auto; }

@media (max-width: 960px) { header .lower > .gnav { flex-direction: column; } }

header .lower .block { width: 120px; text-align: center; flex-grow: 2; cursor: pointer; }

header .lower .block p { width: 100%; border-right: 1px solid #000; backface-visibility: hidden; }

header .lower .block p:after { content: ''; height: 6px; width: 0%; background: #6f294e; display: block; position: absolute; bottom: -15px; left: 0; right: 0; margin: auto; opacity: 0; transition-duration: .3s; }

header .lower .block:hover > p:after { opacity: 1; width: 53%; transition-duration: .3s; }

header .lower .block:hover > ul li { height: 40px; transition-duration: .3s; }

header .lower .block:last-child p { border-right: none; }

header .lower ul { margin-top: 20px; }

header .lower li { font-size: 12px; width: 140px; overflow: hidden; height: 0px; line-height: 40px; transition-duration: .3s; background: rgba(255, 255, 255, 0.7); padding: 0 10px; margin-left: -10px; }

header .lower li:hover { background: rgba(111, 41, 78, 0.7); color: #fff; transition-duration: .3s; }

header .fb { width: 24px !important; right: 0; position: absolute; top: 117px; opacity: 1; }

header .fb:hover { opacity: 0.7; }

header .map { right: 26px; position: absolute; top: 118px; opacity: 1; width: 24px !important; }

header .map:after { opacity: 0; transition-duration: .3s; content: 'アクセス'; font-size: 12px; background: rgba(255, 255, 255, 0.7); position: inherit; width: 80px; top: -15px; left: -28px; margin: auto; z-index: 1; }

header .map:hover > img { opacity: 0.7; }

header .map:hover:after { opacity: 1; transition-duration: .3s; }

header .map img { height: 24px; }

footer { background: rgba(0, 0, 0, 0.4); color: #fff; padding-top: 40px; }

footer .colophon p { background: #fff; color: #000; font-size: 10px; text-align: center; line-height: 26px; }

footer h3 { font-family: yu gothic; font-size: 18px; font-weight: bold; margin-bottom: 16px; }

footer .container { width: 960px; margin: 0 auto; }

footer .info { display: flex; justify-content: space-between; }

footer .left p { line-height: 22px; }

footer .right { position: relative; }

footer .right .fb { color: #fff; font-size: 14px; width: 65px; left: -70px; position: absolute; top: 20px; transition-duration: 0.3s; }

footer .right .fb:hover { opacity: 0.7; transition-duration: 0.3s; }

footer .right .fb img { padding-left: 6px; }

footer .right a div { font-size: 14px; border: 1px solid #fff; width: 167px; color: #fff; text-align: center; line-height: 22px; margin: 8px 0; transition-duration: 0.3s; }

footer .right a div:hover { background: #fff; color: #999; transition-duration: 0.3s; }

footer .sitemap { margin: 50px auto; }

footer .sitemap h4 { font-size: 16px; line-height: 55px; position: relative; margin-bottom: 15px; }

footer .sitemap h4:before { content: ''; height: 2px; width: 10px; background: #fff; display: block; bottom: 0; position: absolute; }

footer .sitemap a { color: #fff; font-size: 13px; line-height: 2; transition-duration: 0.3s; }

footer .sitemap a:hover { transition-duration: 0.3s; opacity: 0.7; }

footer .sitemap .container { display: flex; justify-content: space-between; }

footer .sitemap .box { display: flex; flex-direction: column; }

footer .links { margin-bottom: 30px; }

footer .links ul { display: flex; margin: 0 auto 10px; justify-content: center; width: 400px; line-height: 18px; }

footer .links a:last-child li { border-right: none; }

footer .links li { color: #fff; font-size: 12px; padding: 0 20px; border-right: 1px solid #fff; transition-duration: 0.3s; }

footer .links li:hover { transition-duration: 0.3s; opacity: 0.7; }

/*header .modal{ position: fixed; height: 100vh; width: 100vw; top: 0; left: 0; background-color: rgba(0,0,0,0.5); z-index: 999; display: none; &.-active{ display: block; } } .document{ cursor: pointer; }*/
#document-modal { padding: 4rem; width: 100%; margin: auto; box-sizing: border-box; }

#document-modal h4 { font-size: 18px; font-weight: 500; color: #6f294e; text-align: center; }

#document-modal .flex { width: 100%; padding: 20px 0; display: flex; justify-content: space-between; }

#document-modal .flex a { width: calc(50% - 10px); padding: 10px; font-size: 18px; font-weight: 500; color: #6f294e; border: 2px solid #6f294e; border-radius: 5px; transition-duration: .3s; text-align: center; box-sizing: border-box; }

#document-modal .flex a:hover { background: #6f294e; color: #fff; }

#document-modal p { line-height: 1.75; }

#document-modal em { font-weight: bold; line-height: 40px; }

#document-modal strong { text-decoration: underline; }

.sp { display: none; }

#lamp { display: none; }

@media (max-width: 980px) { .sp { display: block; }
  #document-modal { box-sizing: border-box; }
  #document-modal .flex { padding: 0; margin: 20px auto; }
  #document-modal .flex a { font-size: 14px; padding: 4px 0; }
  #document-modal p { padding-left: 0; }
  h1 { font-size: 12px; line-height: 1.5; padding-left: 6px; float: left; text-align: left; }
  header { height: 72px; }
  header .container { width: 100%; height: 100%; }
  header .upper { padding: 16px 0 0 0; }
  header .map { position: static; width: 130px !important; margin-bottom: 16px !important; }
  header .map ul { margin-top: 0; }
  header .fb { width: 130px !important; }
  header #lamp { width: 48px; height: 49px; display: block; position: absolute; right: 110px; top: 0; bottom: 0; margin: auto; }
  header #lamp span { position: absolute; bottom: 2px; font-size: 1.1rem; }
  header #lamp:before { animation: blink 1s ease-in-out infinite alternate; opacity: 1; position: inherit; content: ''; width: 26px; height: 26px; background: url(../images/common/lamp-1.png); display: inline-block; background-size: contain; left: 0; top: 0; right: 0; margin: auto; display: block; }
  header #lamp:after { animation: blink 1s ease-in-out infinite alternate; opacity: 1; position: inherit; content: ''; width: 26px; height: 26px; background: url(../images/common/lamp-2.png); display: inline-block; background-size: contain; left: 0; top: 0; right: 0; margin: auto; display: block; }
  header .sp-btn { position: absolute; right: 12px; top: 13px; margin: auto; height: 49px; transform: scale(0.9); }
  header .sp-btn .bar { height: 4px; width: 35px; display: block; background: #525252; border-radius: 20px; margin-bottom: 8px; }
  header .sp-btn .text { font-size: 1.2rem; }
  header .sp-icon { position: absolute; display: block; width: 48px; right: 50px; margin: auto; text-align: center; }
  header .sp-icon svg { width: 26px; margin: auto; }
  header .sp-icon g > * { fill: rgba(0, 0, 0, 0.5); }
  header .sp-icon .text { font-size: 1.1rem; white-space: nowrap; }
  header .upper img { width: 36px; float: left; margin: 3px 0 0 10px; }
  header .right { display: none; }
  header .close { position: absolute; right: 12px; top: 5px; margin: auto; height: 50px; width: 50px; }
  header .close span { height: 4px; width: 35px; display: block; background: #80244e; border-radius: 20px; top: 0; bottom: 0; left: 0; right: 0; margin: auto; position: inherit; }
  header .close span:first-child { height: 4px; width: 40px; display: block; background: #80244e; border-radius: 20px; transform: rotate(45deg); }
  header .close span:last-child { height: 4px; width: 40px; display: block; background: #80244e; border-radius: 20px; transform: rotate(135deg); }
  header .lower { transition-duration: 0.3s; display: block; background: #fff; height: 100vh; position: fixed; width: 200px; right: -200px; top: 0; padding-top: 80px; z-index: 99; }
  header .lower.-open { right: 0; transition-duration: 0.3s; } }

@media (max-width: 980px) and (max-width: 960px) { header .lower.-open * { box-sizing: border-box; }
  header .lower.-open > .gnav { padding: 0; height: calc(100vh - 80px); overflow-y: scroll; display: block; } }

@media (max-width: 980px) { header .lower .block:hover > p:after { width: 100%; height: 2px; }
  header .lower .block { margin: 0 auto; width: 130px; text-align: left; }
  header .lower .block p { border-right: none; border-left: 5px solid #6f294e; padding-left: 10px; }
  header .fb { position: static; }
  header .right.sp { display: block; position: unset; }
  header .right.sp div { margin: 10px 30px auto; width: 160px; font-size: 14px; }
  footer .container { width: 90%; }
  footer .info { flex-direction: column; }
  footer h3 { line-height: 30px; }
  footer .right .fb { position: unset; margin: 20px auto; display: block; }
  footer .right a div { margin: 10px auto; }
  footer .sitemap { display: none; }
  footer .links { display: block; margin: 20px 0; }
  footer .links ul { width: 100%; flex-wrap: wrap; } }

@media (max-width: 960px) { html { min-width: auto; width: auto; }
  .block.-current > p:after { width: 100%; height: 2px; }
  header .lower .block:hover > ul li { height: 0px; }
  header .lower .block.-current:hover > ul li, header .lower .block.-current li { height: 40px; } }

.hide { display: none; }

.modal_win video + p:nth-last-child(2) { background-color: #000; color: #fff; text-align: center; padding: 1rem 2rem; }

.modal { cursor: pointer; }

.modal[href^="#"] + [id] { display: none; }

.modal_contents { display: none; }

.modal_win { position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1000; background-color: rgba(0, 0, 0, 0.7); align-items: center; justify-content: center; display: none; }

.modal_win > * { background-color: #f8f8f8; }

@media screen and (max-width: 979px) { .modal_win > p { width: calc(100% - 2rem); }
  .modal_win > p > img { width: 100%; } }

.modal_win img { opacity: inherit; }

.modal_win video { width: 100%; display: block; }

@media screen and (min-width: 980px) { .modal_win iframe { width: 100%; height: 100%; max-width: 120rem; max-height: 90rem; } }

@media screen and (min-width: 980px) { .modal_win > div { max-width: 75%; max-height: 75%; } }

@media screen and (max-width: 979px) { .modal_win > div { max-width: calc(100% - 3.2rem); max-height: calc(100% - 3.2rem); }
  .modal_win > div > div { overflow-y: scroll; max-height: calc(100vh - 3.2rem); } }

.modal_win > * { position: relative; }

.modal_win > * > .close { position: absolute; z-index: 2; background-color: #fff; border-radius: 50%; border: 2px solid #808080; }

@media screen and (min-width: 980px) { .modal_win > * > .close { right: -2rem; top: -2rem; width: 4.5rem; height: 4.5rem; } }

@media screen and (max-width: 979px) { .modal_win > * > .close { right: -1rem; top: -1rem; width: 3rem; height: 3rem; } }

.modal_win > * > .close::before, .modal_win > * > .close::after { content: ""; position: absolute; display: block; left: 33.33%; right: 33.33%; top: calc(50% -  1px); background-color: #808080; height: 2px; }

.modal_win > * > .close::before { transform: rotate(-45deg); }

.modal_win > * > .close::after { transform: rotate(45deg); }

.modal_win > * > .close:hover { background-color: #808080; }

.modal_win > * > .close:hover::before, .modal_win > * > .close:hover::after { background-color: #fff; }

.modal_win > p { position: relative; }

.modal_win > p .caption { position: absolute; display: block; left: 0; right: 0; bottom: 0; text-align: center; padding: 1.6rem 3.2rem; color: #fff; text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25), -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.25), -0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25), -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.25); background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%); }

.modal_win > p .prev, .modal_win > p .next { width: 50%; display: flex; position: absolute; top: 0; bottom: 0; align-items: center; padding: 3.2rem; }

.modal_win > p .prev::before, .modal_win > p .next::before { content: ""; display: block; width: 1.5em; height: 1.5em; border: solid #fff; border-width: 0.2em 0.2em 0 0; opacity: 0; }

.modal_win > p .prev:hover::before, .modal_win > p .next:hover::before { opacity: 1; }

.modal_win > p .prev { justify-content: flex-start; left: 0; }

.modal_win > p .prev:hover { background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%); }

.modal_win > p .prev::before { transform: rotate(-135deg); }

.modal_win > p .next { justify-content: flex-end; right: 0; }

.modal_win > p .next:hover { background: linear-gradient(-90deg, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%); }

.modal_win > p .next::before { transform: rotate(45deg); }

.news article p + p, .club-column p + p { margin-top: 1em; }

.news article a[href]:not([href*="pdf"]), .club-column a[href]:not([href*="pdf"]) { text-decoration: underline; }

.news article a[href]:not([href*="pdf"])::before, .club-column a[href]:not([href*="pdf"])::before { content: ""; display: inline-block; box-sizing: border-box; border: solid #911d4d; }

.news article a[href]:not([href*="pdf"]):not([target="_blank"]), .club-column a[href]:not([href*="pdf"]):not([target="_blank"]) { margin-left: 0.5em; }

.news article a[href]:not([href*="pdf"]):not([target="_blank"])::before, .club-column a[href]:not([href*="pdf"]):not([target="_blank"])::before { border-width: 0 0.15em 0.15em 0; width: 0.5em; height: 0.5em; margin-right: 0.5em; transform: rotate(-45deg); }

.news article a[href]:not([href*="pdf"]).modal, .club-column a[href]:not([href*="pdf"]).modal { position: relative; padding-right: 2em; }

.news article a[href]:not([href*="pdf"]).modal::before, .club-column a[href]:not([href*="pdf"]).modal::before { position: absolute; top: calc(50% - 0.5em); right: 0; border-width: 0.3em 0.15em 0.15em; width: 1em; height: 1em; transform: rotate(0deg); }

.news article a[href]:not([href*="pdf"])[target="_blank"], .club-column a[href]:not([href*="pdf"])[target="_blank"] { position: relative; margin-right: 1em; }

.news article a[href]:not([href*="pdf"])[target="_blank"]::before, .club-column a[href]:not([href*="pdf"])[target="_blank"]::before { box-sizing: border-box; position: absolute; top: calc(50% - 0.6em); right: -0.2em; border-width: 0.15em 0.15em 0 0; width: 0.75em; height: 0.75em; }

.news article a[href]:not([href*="pdf"])[target="_blank"]::after, .club-column a[href]:not([href*="pdf"])[target="_blank"]::after { content: ""; margin-left: 0.5em; display: inline-block; border: solid #911d4d; border-width: 0.15em; width: calc(1em - 4px); height: calc(1em - 4px); }

.news article a[href]:not([href*="pdf"]):hover, .club-column a[href]:not([href*="pdf"]):hover { color: #911d4d; font-weight: 700; }

.news article a[href]:not([href*="pdf"]):not(:first-child), .club-column a[href]:not([href*="pdf"]):not(:first-child) { margin-left: 0.5em; }

a[href*=".pdf"]::after { content: "PDF"; display: inline-flex; align-items: center; justify-content: center; position: relative; bottom: 0.3em; margin-left: 1em; font-size: 0.5em; color: #fff; width: 2.5em; height: 3em; padding-top: 0.5em; background: linear-gradient(45deg, transparent 0, #911d4d 0), linear-gradient(135deg, transparent 0, #911d4d 0), linear-gradient(225deg, transparent 25%, #911d4d 25%), linear-gradient(315deg, transparent 0, #911d4d 0); background-position: bottom left, bottom right, top right, top left; background-size: 60% 60%; background-repeat: no-repeat; transform: scale(0.8); }
