// compileCompact: $1.css
@charset "UTF-8";

@import "_reset";

$inner: 960px;
$wine: #6f294e;
/*
** Common style
*/

html {
  min-width: 1100px;
  font-size: 62.5%;
}

h1 {
  font-weight: bold;
  color: #000;
  // font-size: 17px;
  font-size: 18px;
}

body:not(#top) header {
  background-color: #fff;
  .lower .block:hover > ul {
    li {
      background-color: #fff;
    }
    a:hover li {
      background-color: $wine;
    }
  }
}
header {
  height: 160px;
  border-bottom: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
	transition-duration: .1s;
	&.-scrolled{
		background-color: white;
		transition-duration: .2s;
	}
  .container {
    width: 1025px;
    margin: 0 auto;
    position: relative;
  }
  .upper {
    text-align: center;
    padding: 15px 0 0 0;
    line-height: 30px;
  }
  .right {
    position: absolute;
    right: 0;
    top: 5px;
		.active{
			&:before{
				position: absolute;
		    content: '';
		    width: 15px;
		    height: 15px;
		    background: url(../images/common/lamp-1.png);
		    display: inline-block;
		    background-size: contain;
		    margin-right: 5px;
		    left: 36px;
		    top: 1px;
			}
			&:after{
				animation:blink 1s ease-in-out infinite alternate;
				opacity: 1;
				position: absolute;
		    content: '';
		    width: 15px;
		    height: 15px;
		    background: url(../images/common/lamp-2.png);
		    display: inline-block;
		    background-size: contain;
		    margin-right: 5px;
		    left: 36px;
		    top: 1px;
			}
		}
		@keyframes blink{
	    0% {opacity: 0;}
	    100% {opacity: 1;}
		}
    div {
			position: relative;
      font-size: 14px;
      border: 1px solid $wine;
      width: 170px;
      color: $wine;
      text-align: center;
      line-height: 20px;
      margin: 10px 0;
      transition-durtaion: .3s;
      &:hover {
        background: $wine;
        color: #fff;
        transition-duration: .3s;
      }
    }
  }
  .lower {
    width: $inner;
    >.gnav {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      padding: 20px 0;
      margin: 0 auto;
      @media (max-width: $inner) {//}@media (max-width: 680px) {
        flex-direction: column;
      }
    }
    .block {
      width: 120px;
      text-align: center;
			flex-grow: 2;
      cursor: pointer;
      p {
        width: 100%;
        border-right: 1px solid #000;
        backface-visibility: hidden;
        &:after {
          content: '';
          height: 6px;
          width: 0%;
          background: $wine;
          display: block;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          margin: auto;
          opacity: 0;
          transition-duration: .3s;
        }
      }
      &:hover > p:after{
          opacity: 1;
          width: 53%;
          transition-duration: .3s;
        }
      &:hover > ul li{
          height: 40px;
          transition-duration: .3s;
        }
      &:last-child p {
        border-right: none;
      }
    }
    ul {
      margin-top: 20px;
    }
    li {
      font-size: 12px;
      width: 140px;
      overflow: hidden;
      height: 0px;
      line-height: 40px;
      transition-duration: .3s;
      background: rgba(#fff,0.7);
      padding: 0 10px;
      margin-left: -10px;
      &:hover {
        background: rgba($wine,0.7);
        color: #fff;
        transition-duration: .3s;
      }
    }
  }
  .fb {
    width: 24px !important;
    right: 0;
    position: absolute;
    top: 117px;
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
  }
  .map{
    right: 26px;
    position: absolute;
    top: 118px;
    opacity: 1;
    width: 24px !important;
		&:after{
			opacity: 0;
			transition-duration: .3s;
			content: 'アクセス';
	    font-size: 12px;
	    background: rgba(255, 255, 255, 0.7);
	    position: inherit;
	    width: 80px;
			top: -15px;
	    left: -28px;
	    margin: auto;
	    z-index: 1;
		}
    &:hover>img{
      opacity: 0.7;
    }
		&:hover:after{
			opacity: 1;
			transition-duration: .3s;
		}
    img{
      height: 24px;
    }
  }
}

footer {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding-top: 40px;
  .colophon p {
    background: #fff;
    color: #000;
    font-size: 10px;
    text-align: center;
    line-height: 26px;
  }
  h3 {
    font-family: yu gothic;
    font-size: 18px;
    font-weight: bold;
    margin-bottom:16px;
  }
  .container {
    width: 960px;
    margin: 0 auto;
  }
  .info {
    display: flex;
    justify-content: space-between;
  }
  .left p {
    line-height: 22px;
  }
  .right {
    position: relative;
    .fb {
      color: #fff;
      font-size: 14px;
      width: 65px;
      left: -70px;
      position: absolute;
      top: 20px;
      transition-duration: 0.3s;

      &:hover {
        opacity: 0.7;
        transition-duration: 0.3s;
      }
      img{padding-left: 6px;}
    }
    a div {
      font-size: 14px;
      border: 1px solid #fff;
      width: 167px;
      color: #fff;
      text-align: center;
      line-height: 22px;
      margin: 8px 0;
      transition-duration: 0.3s;

      &:hover {
        background: #fff;
        color: #999;
        transition-duration: 0.3s;
      }
    }
  }
  .sitemap {
    margin: 50px auto;
    h4 {
      font-size: 16px;
      // font-weight: bold;
      line-height: 55px;
      position: relative;
      margin-bottom: 15px;
      &:before {
        content: '';
        height: 2px;
        width: 10px;
        background: #fff;
        display: block;
        bottom: 0;
        position: absolute;
      }
    }
    a {
      color: #fff;
      font-size: 13px;
      line-height: 2;
      transition-duration: 0.3s;
      &:hover {
        transition-duration: 0.3s;
        opacity: 0.7;
      }
    }
    .container {
      display: flex;
      justify-content: space-between;
    }
    .box {
      display: flex;
      flex-direction: column;
    }
  }
  .links {
    margin-bottom: 30px;
    ul {
      display: flex;
      margin: 0 auto 10px;
      justify-content: center;
      width: 400px;
      line-height: 18px;
    }
    a:last-child li {
      border-right: none;
    }
    li {
      color: #fff;
      font-size: 12px;
      padding: 0 20px;
      border-right: 1px solid #fff;
      transition-duration: 0.3s;
      &:hover {
        transition-duration: 0.3s;
        opacity: 0.7;
      }
    }
  }
}

/*header .modal{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
  display: none;
  &.-active{
    display: block;
  }
}
.document{
  cursor: pointer;
}*/
#document-modal{
//  position: absolute;
//  overflow: scroll !important;
//  height: 440px;
padding: 4rem;  //padding: 25px;
//  background: #fff;
//  font-size: 14px;
//  left: 0;
//  right: 0;
//  top: 0;
//  bottom: 0;
//  margin: auto;
//  background-color: white;
//  line-height: 22px;
//  overflow-y: scroll;
//  transition-duration: 0.3s;
//  opacity: 0;
//  text-align: center;
width: 100%;
margin: auto;
box-sizing: border-box;
//  &.-current{
//    animation: show .3s linear 0s;
//    opacity: 1;
//    z-index: 100;
//    overflow: hidden !important;
//  }
  h4{
    font-size: 18px;
    font-weight: 500;
    color: #6f294e;
//    letter-spacing: 1px;
//    line-height: 27px;
//    word-break: break-all;
    text-align: center;
  }
  .flex{
//    position: initial;
    width: 100%;
    padding: 20px 0;//padding: 20px;
//    border: none;
//    height: auto;
    display: flex;
    justify-content: space-between;//justify-content: space-around;
//    box-sizing: border-box;
    a{
      width: calc(50% - 10px);//width: 240px;
      padding: 10px;
      font-size: 18px;
      font-weight: 500;
      //background: content-box;
      color: #6f294e;
      border: 2px solid #6f294e;
      border-radius: 5px;
      transition-duration: .3s;
      text-align: center;
      &:hover{
        background: #6f294e;
        color: #fff;
//        transition-duration: .3s;
      }
      box-sizing: border-box;
    }
  }
  p{
//    font-size: 13px;
    line-height: 1.75;//line-height: 18px;
//    text-align: left;
//    padding-left: 38px;
  }
  em{
//    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
  }
  strong{
    text-decoration: underline;
  }
}

.sp {
  display: none;
}

#lamp{
  display: none;
}

@media (max-width: 980px) {
  .sp {
    display: block;
  }
  #document-modal{
//    width: 90%;
//    height: 80vh;
    box-sizing: border-box;
//    overflow: scroll;
    .flex{
      padding: 0;
      margin: 20px auto;
      a{
        font-size: 14px;
        padding: 4px 0;
      }
    }
    p{
      padding-left: 0;
    }
  }
//  #document-modal div{
//    width: 90%;
//    box-sizing: border-box;
//    top: 50px;
//  }
  h1 {
    font-size: 12px;//font-size: 14px;
    line-height: 1.5;//line-height: 25px;
    padding-left: 6px;//padding-left: 10px;
    float: left;
    text-align: left;
  }
  header {
    height: 72px;
    .container {
      width: 100%;
      height: 100%;
    }
    .upper{
      padding: 16px 0 0 0;//padding: 11px 0 0 0;
    }
    .map{
      position: static;
      width: 130px !important;
      margin-bottom: 16px !important;
      ul{
        margin-top: 0;
      }
    }
    .fb{
      width: 130px !important;
    }
    #lamp{
      width: 48px;
      height: 49px;
      display: block;
      position: absolute;
      right: 110px;//right: 59px;
      top: 0;
      bottom: 0;
      margin: auto;
      span{
        position: absolute;
        bottom: 2px;
        font-size: 1.1rem;
      }
  		&:before{
        animation: blink 1s ease-in-out infinite alternate;
        opacity: 1;
        position: inherit;
        content: '';
        width: 26px;
        height: 26px;
        background: url(../images/common/lamp-1.png);
        display: inline-block;
        background-size: contain;
        left: 0;
        top: 0;
        right: 0;
        margin: auto;
        display: block;
  		}
  		&:after{
        animation: blink 1s ease-in-out infinite alternate;
        opacity: 1;
        position: inherit;
        content: '';
        width: 26px;
        height: 26px;
        background: url(../images/common/lamp-2.png);
        display: inline-block;
        background-size: contain;
        left: 0;
        top: 0;
        right: 0;
        margin: auto;
        display: block;
  		}
    }
    .sp-btn {
      position: absolute;
      right: 12px;
      top: 13px;//top: 0;
      //bottom: 0;
      margin: auto;
      height: 49px;
      transform: scale(0.9);
      .bar{
        height: 4px;
        width: 35px;
        display: block;
        background: #525252;
        border-radius: 20px;
        margin-bottom: 8px;
      }
      .text{
        font-size: 1.2rem;
      }
    }
    .sp-icon {
      position: absolute;
      display: block;
      width: 48px;
      right: 50px;
      margin: auto;
      text-align: center;
      svg {
        width: 26px;
        margin: auto;
      }
      g>* {
        fill: rgba(0,0,0,.5);
      }
      .text{
        font-size: 1.1rem;
        white-space: nowrap;
      }
    }
    .upper img {
      width: 36px;//width: 43px;
      float: left;
      margin: 3px 0 0 10px;//padding: 3px;
      //padding-left: 10px;
    }
    .right {
      display: none;
    }
    .close {
      position: absolute;
      right: 12px;
      top: 5px;
      margin: auto;
      height: 50px;
      width: 50px;
      span{
        height: 4px;
        width: 35px;
        display: block;
        background: #80244e;
        border-radius: 20px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: inherit;
        &:first-child{
          height: 4px;
          width: 40px;
          display: block;
          background: #80244e;
          border-radius: 20px;
          transform: rotate(45deg);
        }
        &:last-child{
          height: 4px;
          width: 40px;
          display: block;
          background: #80244e;
          border-radius: 20px;
          transform: rotate(135deg);
        }
      }
    }
    .lower {
      &.-open{
        right: 0;
        transition-duration: 0.3s;
        @media (max-width: $inner) {//}@media (max-width: 680px) {
          * {
            box-sizing: border-box;
          }
          >.gnav {
            padding: 0;
            height: calc(100vh - 80px);
            overflow-y: scroll;
            display: block;
          }
        }
      }
      .block:hover > p:after{
        width: 100%;
        height: 2px;
      }

      transition-duration: 0.3s;
      display: block;
      background: #fff;
      height: 100vh;
      position: fixed;
      width: 200px;
      right: -200px;
      top: 0;
      padding-top: 80px;
      z-index: 99;
      .block {
        margin: 0 auto;
        width: 130px;
        text-align: left;
      }
      .block p{
          border-right: none;
          border-left: 5px solid #6f294e;
          padding-left: 10px;
        }
      }
    .fb {
      position: static;
    }
    .right.sp {
      display: block;
      position: unset;
      div {
        margin: 10px 30px auto;
        width: 160px;
        font-size: 14px;
      }
    }
  }
  footer {
    .container {
      width: 90%;
    }
    .info {
      flex-direction: column;
    }
    h3 {
      line-height: 30px;
    }
    .right {
      .fb {
        position: unset;
        margin: 20px auto;
        display: block;
      }
      a div {
        margin: 10px auto;
      }
    }
    .sitemap {
      display: none;
    }
    .links {
      display: block;
      margin: 20px 0;
      ul {
        width: 100%;
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: $inner) {//}@media (max-width: 680px) {
  html {
    min-width: auto;
    width: auto;
  }
  .block.-current > p:after {
    width: 100%;
    height: 2px;
  }
  header .lower .block {
    &:hover > ul li {
      height: 0px;
    }
    &.-current {
      &:hover > ul li, li {
        height: 40px;
      }
    }
  }
}

@import "./_modal.scss";
$sc_color: #911d4d;
.news article,.club-column {
  p + p {
    margin-top: 1em;
  }
  a[href]:not([href*="pdf"]) {
    text-decoration: underline;
    &::before {
      content: "";
      display: inline-block;
      box-sizing: border-box;
      border: solid $sc_color;
    }
    &:not([target="_blank"]) {
      margin-left: 0.5em;
      &::before {
        border-width: 0 0.15em 0.15em 0;
        width: 0.5em;
        height: 0.5em;
        margin-right: 0.5em;
        transform: rotate(-45deg);
      }
    }
    &.modal {
      position: relative;
      padding-right: 2em;
      &::before {
        position: absolute;
        top: calc(50% - 0.5em);
        right: 0;
        border-width: 0.3em 0.15em 0.15em;
        width: 1em;
        height: 1em;
        transform: rotate(0deg);
      }
    }
    &[target="_blank"] {
      position: relative;
      margin-right: 1em;
      &::before {
        box-sizing: border-box;
        position: absolute;
        top: calc(50% - 0.6em);
        right: -0.2em;
        border-width: 0.15em 0.15em 0 0;
        width: 0.75em;
        height: 0.75em;
      }
      &::after {
        content: "";
        margin-left: 0.5em;
        display: inline-block;
        border: solid $sc_color;
        border-width: 0.15em;
        width: calc(1em - 4px);
        height: calc(1em - 4px);
      }
    }
    &:hover {
      color: $sc_color;
      font-weight: 700;
    }
    &:not(:first-child) {
      margin-left: 0.5em;
    }
  }
}
//PDFリンクアイコン（全共通）
a[href*=".pdf"]::after {
  content: "PDF";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0.3em;
  margin-left: 1em;
  font-size: 0.5em;
  color: #fff;
  width: 2.5em;
  height: 3em;
  padding-top: 0.5em;
  background:
    linear-gradient(45deg,  transparent 0, $sc_color 0),
    linear-gradient(135deg, transparent 0, $sc_color 0),
    linear-gradient(225deg, transparent 25%, $sc_color 25%),
    linear-gradient(315deg, transparent 0, $sc_color 0);
  background-position:
    bottom left,
    bottom right,
    top right,
    top left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  transform: scale(0.8);
}
