@charset "UTF-8";

// ==========基本設定==========
$gothic: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$mincho: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$sc_color: #911d4d;


//画面サイズ
$win-sm: 400px;
$win-md: 681px;
$win-lg: 1000px;
$win-xl: 1281px;

// min-width
$breakpoint-up: (
 'sm': 'screen and (min-width:' +$win-sm+ ')',
 'md': 'screen and (min-width:' +$win-md+ ')',
 'lg': 'screen and (min-width:' +$win-lg+ ')',
 'xl': 'screen and (min-width:' +$win-xl+ ')',
) !default;
// max-width
$breakpoint-down: (
 'sm': 'screen and (max-width' +($win-sm - 1)+ ')',
 'md': 'screen and (max-width:' +($win-md - 1)+ ')',
 'lg': 'screen and (max-width:' +($win-lg - 1)+ ')',
 'xl': 'screen and (max-width:' +($win-xl - 1)+ ')',
) !default;
// max-min-width
$breakpoint-updown: (
 'sm,md': 'screen and (max-width' +($win-md - 1)+ ')' and 'screen and (min-width:' +$win-sm+ ')',
 'md,lg': 'screen and (max-width:' +($win-lg - 1)+ ')' and 'screen and (min-width:' +$win-md+ ')',
 'lg,xl': 'screen and (max-width:' +($win-xl - 1)+ ')' and 'screen and (min-width:' +$win-lg+ ')',
) !default;
@mixin mq-up($breakpoint: md) {
 @media #{map-get($breakpoint-up, $breakpoint)} {
   @content;
 }
}
@mixin mq-down($breakpoint: md) {
 @media #{map-get($breakpoint-down, $breakpoint)} {
   @content;
 }
}

/*
** 1.Reset
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Noto Sans JP',YuGothic,'Yu Gothic','Yu Gothic UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: unset;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
	.body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

ol, ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
	&::before,&::after {
		content: '';
		content: none;
	}
}
table {
	border-collapse: collapse;
	 border-spacing: 0;
}
a:link, a:visited, a:hover {
	text-decoration: none;
	 color: inherit;
	 color: initial;
}
a img {
	border-width: 0px;
	 border-style: none;
	 border-color: #fff;
	 background: transparent;
	 outline: none;
}
img, *:focus {
	outline: none;
}
p {
	font-size: 14px;
	font-weight: 500;
	transform: rotate(0.05deg);
}
h1, h2, h3, h4, h5 {
	transform: rotate(0.05deg);
}

/*
** 2.Common style
*/

header {
	position: fixed;
	left: 0;
	width: 100vw;
	text-align: center;
	z-index: 99;
	background: none!important;
	img {
		margin-top: 20px;
	}
}
main {
	width: 100vw;
}
.slider .flame {
	@include mq-up () {
		width: calc( 100vw - 75px);
	}
	@include mq-down () {
		width: 100%;
	}
	position: absolute;
	height: 100vh;
//	transition-duration: 3s;
	overflow: hidden;
	.tab {
		z-index: 50;
		height: 100vh;
		-webkit-writing-mode: vertical-rl;
		-ms-writing-mode: tb-rl;
		writing-mode: vertical-rl;
		text-orientation: upright;
		width: 25px;
		position: absolute;
		right: 0;
		color: #fff;
//		cursor: pointer;
	}
	@include mq-up () {
		.catch,
		.circle {
			position: inherit;
			bottom: 200px;
		}
		.catch {
			left: 50px;
		}
		.circle {
			right: 50px;
		}
	}
	@include mq-down () {
		.catch,
		.circle {
			position: inherit;
		}
		.catch {
			left: 0;
			width: 100vw;
			text-align: center;
			bottom: 60vh;//top: 40vh;
			img {
				height: 8vh;
			}
		}
		.circle {
			left: 20vw;
			right: 20vw;
			bottom: 35vh;//top: 55vh;
			img {
				height: 31.4vw;
			}
		}
	}
	.image {
		position: inherit;
		width: 100vw;
		height: 100vh;
		background-size: 100% auto;
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		img {
			width: 100%;
			transition-timing-function: linear;
		}
	}
}
.tab {
	background: #611a3a;
	 font-family: yu mincho;
	 line-height: 25px;
	 span {
	 	opacity: 0.7;
	 	 transition-duration: 0.3s;
	 }
}
.flame {
	transform: translate3d(0, 0, 0);
	.image {
		transform: translate3d(0, 0, 0);
	}
	&.-scale .image {
		transform: scale(1.3);
		transition-duration: 9s;
		transition-timing-function: linear;
	}
	&.-swiped {
		transition-duration: 3s;
	}
	&.-current .tab span {
		transition-duration: 0.3s;
		 opacity: 1;
	}
}
$i: 1; //最初の数
$stab_clr: #80244e, #702044, #6b1e41, #611a3a;//タブの色
$j: length($stab_clr); //最後の数の生成
@while $i <= $j {
  #s#{$i} {
		@include mq-up () {
			left: #{($i - 1) * 25 +"px"};
		}
		@include mq-down () {
			left: 0;
		}
		z-index: #{(($j - $i + 1) * 2) + 1};
		&.-swiped {
			@include mq-up () {
				left: calc(-100vw + #{(($i - 1) * 25) + 100 + "px"});
			}
			@include mq-down () {
				left: -100vw;
			}
		}
		.circle, .catch {
			z-index: #{($j - $i + 1) * 2};
		}
		.tab {
			@include mq-up () {
	      background-color: #{nth($stab_clr, $i)};
				padding-top: #{($i * 25) - 10 + "vh"};
			}
			@include mq-down () {
	      display: none;
			}
		}
		.image {
			@include mq-up () {
				background-image: url(../images/index/s#{$i}.png);
			}
			@include mq-down () {
				background-image: url(../images/index/s#{$i}-sp.png);
			}
		}
	}
  $i: $i + 1;
}
#s4 {
	z-index: 3;
}
#s4 .circle, #s4 .catch {
	z-index: 2;
}

nav {
	position: fixed;
	height: 100px;
	@include mq-up () {
		width: calc(100vw - 100px);
		left: 50px;//left: 0;
  	top: calc(100vh - 130px);//bottom: 30px;
	}
	@include mq-down () {
		width: 90vw;
		left: 5vw;//left: 0;
  	bottom: 5vh;
	}
	//right: 0;
	//margin: auto;
	z-index: 11;
	display: flex;
	justify-content: space-between;

	.strip {
		border: 2px solid #fff;
		color: #fff;
		text-align: center;
		padding: 10px 30px;
		font-weight: bold;
		position: relative;
		@include mq-up () {
			transition-duration: .3s;
		}
		&::before {
			content: '';
			 width: 30px;
			 height: 2px;
			 background: #fff;
			 position: absolute;
			 top: 0;
			 bottom: 0;
			 right: -16px;
			 margin: auto;
		}
	}
	@include mq-down () {
		display: block;
	}
	.left {
		display: flex;
		width: 400px;
		justify-content: space-around;
		@include mq-up () {
			transition-duration: .3s;
		}
		.strip:hover {
			transition-duration: .3s;
			background: #fff;
			color: #828282;
		}
		@include mq-down () {
    	width: 100%;
      justify-content: space-between;
      .strip {
      	width: 40vw;
      	padding: 10px 0;
        &:before {
        	content: none;
        }
      }
    }
	}
	.right {
		@include mq-down () {
			margin-top: 15px;
		}
		.strip {
			background: #fff;
			color: #828282;
			transition-duration: .3s;
			&::after {
				content: '';
				 width: 15px;
				 height: 2px;
				 background: #828282;
				 position: absolute;
				 top: 0;
				 bottom: 0;
				 right: -3px;
				 margin: auto;
			}
			@include mq-down () {
				width: 100%;
				box-sizing: border-box;
				&::before {
					content: none;
				}
				&::after {
					content: none;
				}
		  }
			&:hover {
				transition-duration: .3s;
				 background: transparent;
				 color: #fff;
			}
		}
	}
}
@include mq-down (xl) {
	.slider .flame .image img {
    height: 100vh;
    width: auto;
  }
}
@include mq-down () {
  .pc {
  	display: none !important;
  }
  .sp {
  	display: block !important;
  }
  header img {
  	width: 80%;
  }
  .slider {
		width: 100vw;
		overflow: hidden;
//  	display: none;
	}
}

@media all and (-ms-high-contrast: none) {
  $i: 1;
  @while $i <= 3 {
    #s#{$i}.-swiped {
    	left: calc(-100% - #{$i * 25+ "px"});
    }
    $i: $i + 1;
  }
}

@keyframes anime1ie {}
