@charset "UTF-8";
/*
** 1.Reset
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; font-family: 'Noto Sans JP',YuGothic,'Yu Gothic','Yu Gothic UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: unset; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) { .body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote::before, blockquote::after, q::before, q::after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a:link, a:visited, a:hover { text-decoration: none; color: inherit; color: initial; }

a img { border-width: 0px; border-style: none; border-color: #fff; background: transparent; outline: none; }

img, *:focus { outline: none; }

p { font-size: 14px; font-weight: 500; transform: rotate(0.05deg); }

h1, h2, h3, h4, h5 { transform: rotate(0.05deg); }

/*
** 2.Common style
*/
header { position: fixed; left: 0; width: 100vw; text-align: center; z-index: 99; background: none !important; }

header img { margin-top: 20px; }

main { width: 100vw; }

.slider .flame { position: absolute; height: 100vh; overflow: hidden; }

@media screen and (min-width: 681px) { .slider .flame { width: calc( 100vw - 75px); } }

@media screen and (max-width: 680px) { .slider .flame { width: 100%; } }

.slider .flame .tab { z-index: 50; height: 100vh; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; text-orientation: upright; width: 25px; position: absolute; right: 0; color: #fff; }

@media screen and (min-width: 681px) { .slider .flame .catch, .slider .flame .circle { position: inherit; bottom: 200px; }
  .slider .flame .catch { left: 50px; }
  .slider .flame .circle { right: 50px; } }

@media screen and (max-width: 680px) { .slider .flame .catch, .slider .flame .circle { position: inherit; }
  .slider .flame .catch { left: 0; width: 100vw; text-align: center; bottom: 60vh; }
  .slider .flame .catch img { height: 8vh; }
  .slider .flame .circle { left: 20vw; right: 20vw; bottom: 35vh; }
  .slider .flame .circle img { height: 31.4vw; } }

.slider .flame .image { position: inherit; width: 100vw; height: 100vh; background-size: 100% auto; background-size: cover; background-position: top center; background-repeat: no-repeat; }

.slider .flame .image img { width: 100%; transition-timing-function: linear; }

.tab { background: #611a3a; font-family: yu mincho; line-height: 25px; }

.tab span { opacity: 0.7; transition-duration: 0.3s; }

.flame { transform: translate3d(0, 0, 0); }

.flame .image { transform: translate3d(0, 0, 0); }

.flame.-scale .image { transform: scale(1.3); transition-duration: 9s; transition-timing-function: linear; }

.flame.-swiped { transition-duration: 3s; }

.flame.-current .tab span { transition-duration: 0.3s; opacity: 1; }

#s1 { z-index: 9; }

@media screen and (min-width: 681px) { #s1 { left: 0px; } }

@media screen and (max-width: 680px) { #s1 { left: 0; } }

@media screen and (min-width: 681px) { #s1.-swiped { left: calc(-100vw + 100px); } }

@media screen and (max-width: 680px) { #s1.-swiped { left: -100vw; } }

#s1 .circle, #s1 .catch { z-index: 8; }

@media screen and (min-width: 681px) { #s1 .tab { background-color: #80244e; padding-top: 15vh; } }

@media screen and (max-width: 680px) { #s1 .tab { display: none; } }

@media screen and (min-width: 681px) { #s1 .image { background-image: url(../images/index/s1.png); } }

@media screen and (max-width: 680px) { #s1 .image { background-image: url(../images/index/s1-sp.png); } }

#s2 { z-index: 7; }

@media screen and (min-width: 681px) { #s2 { left: 25px; } }

@media screen and (max-width: 680px) { #s2 { left: 0; } }

@media screen and (min-width: 681px) { #s2.-swiped { left: calc(-100vw + 125px); } }

@media screen and (max-width: 680px) { #s2.-swiped { left: -100vw; } }

#s2 .circle, #s2 .catch { z-index: 6; }

@media screen and (min-width: 681px) { #s2 .tab { background-color: #702044; padding-top: 40vh; } }

@media screen and (max-width: 680px) { #s2 .tab { display: none; } }

@media screen and (min-width: 681px) { #s2 .image { background-image: url(../images/index/s2.png); } }

@media screen and (max-width: 680px) { #s2 .image { background-image: url(../images/index/s2-sp.png); } }

#s3 { z-index: 5; }

@media screen and (min-width: 681px) { #s3 { left: 50px; } }

@media screen and (max-width: 680px) { #s3 { left: 0; } }

@media screen and (min-width: 681px) { #s3.-swiped { left: calc(-100vw + 150px); } }

@media screen and (max-width: 680px) { #s3.-swiped { left: -100vw; } }

#s3 .circle, #s3 .catch { z-index: 4; }

@media screen and (min-width: 681px) { #s3 .tab { background-color: #6b1e41; padding-top: 65vh; } }

@media screen and (max-width: 680px) { #s3 .tab { display: none; } }

@media screen and (min-width: 681px) { #s3 .image { background-image: url(../images/index/s3.png); } }

@media screen and (max-width: 680px) { #s3 .image { background-image: url(../images/index/s3-sp.png); } }

#s4 { z-index: 3; }

@media screen and (min-width: 681px) { #s4 { left: 75px; } }

@media screen and (max-width: 680px) { #s4 { left: 0; } }

@media screen and (min-width: 681px) { #s4.-swiped { left: calc(-100vw + 175px); } }

@media screen and (max-width: 680px) { #s4.-swiped { left: -100vw; } }

#s4 .circle, #s4 .catch { z-index: 2; }

@media screen and (min-width: 681px) { #s4 .tab { background-color: #611a3a; padding-top: 90vh; } }

@media screen and (max-width: 680px) { #s4 .tab { display: none; } }

@media screen and (min-width: 681px) { #s4 .image { background-image: url(../images/index/s4.png); } }

@media screen and (max-width: 680px) { #s4 .image { background-image: url(../images/index/s4-sp.png); } }

#s4 { z-index: 3; }

#s4 .circle, #s4 .catch { z-index: 2; }

nav { position: fixed; height: 100px; z-index: 11; display: flex; justify-content: space-between; }

@media screen and (min-width: 681px) { nav { width: calc(100vw - 100px); left: 50px; top: calc(100vh - 130px); } }

@media screen and (max-width: 680px) { nav { width: 90vw; left: 5vw; bottom: 5vh; } }

nav .strip { border: 2px solid #fff; color: #fff; text-align: center; padding: 10px 30px; font-weight: bold; position: relative; }

@media screen and (min-width: 681px) { nav .strip { transition-duration: .3s; } }

nav .strip::before { content: ''; width: 30px; height: 2px; background: #fff; position: absolute; top: 0; bottom: 0; right: -16px; margin: auto; }

@media screen and (max-width: 680px) { nav { display: block; } }

nav .left { display: flex; width: 400px; justify-content: space-around; }

@media screen and (min-width: 681px) { nav .left { transition-duration: .3s; } }

nav .left .strip:hover { transition-duration: .3s; background: #fff; color: #828282; }

@media screen and (max-width: 680px) { nav .left { width: 100%; justify-content: space-between; }
  nav .left .strip { width: 40vw; padding: 10px 0; }
  nav .left .strip:before { content: none; } }

@media screen and (max-width: 680px) { nav .right { margin-top: 15px; } }

nav .right .strip { background: #fff; color: #828282; transition-duration: .3s; }

nav .right .strip::after { content: ''; width: 15px; height: 2px; background: #828282; position: absolute; top: 0; bottom: 0; right: -3px; margin: auto; }

@media screen and (max-width: 680px) { nav .right .strip { width: 100%; box-sizing: border-box; }
  nav .right .strip::before { content: none; }
  nav .right .strip::after { content: none; } }

nav .right .strip:hover { transition-duration: .3s; background: transparent; color: #fff; }

@media screen and (max-width: 1280px) { .slider .flame .image img { height: 100vh; width: auto; } }

@media screen and (max-width: 680px) { .pc { display: none !important; }
  .sp { display: block !important; }
  header img { width: 80%; }
  .slider { width: 100vw; overflow: hidden; } }

@media all and (-ms-high-contrast: none) { #s1.-swiped { left: calc(-100% - 25px); }
  #s2.-swiped { left: calc(-100% - 50px); }
  #s3.-swiped { left: calc(-100% - 75px); } }

@keyframes anime1ie {}
