// compileCompact: $1.css
@charset "UTF-8";
/* scss */
$grey : #f7f8f8;
$navy: #556ca2;
$announce:#249cc6;
$school:#71ac60;
$library:#c26084;
$club:#ee730d;

/* common */
.page-title{
  background-image: url(../images/header/news_title.jpg);//background: url(../images/news/bg-title.jpg);
}
.cat-school{background: #5fb5ec;}
.cat-club{background: #dd960f;}
.cat-exam{background: #c50018;}
.cat-blog{background: #00984b;}
.cat-education{background: #7c589d;}
.cat-other{background: #000;}
.pulldown{cursor: pointer;}
.pager{
  width: 365px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: yu gothic;
  line-height: 47px;
  font-size: 14px;
}
.pager .next, .pager .prev {
    width: 45px;
    height: 45px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin: 0 1px;
    display: inline !important;
    text-align: center;
    line-height: 47px;
    background-color: #fff;
}
.pager a {
    width: 100% !important;
    height: 100% !important;
    display: inline-block;
    margin: 0;
}
.pager ul {
    width: auto;
    display: flex;
}
.archive-news .news-list .pager li {
    width: 45px;
    height: 45px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin: 0 1px;
    display: inline !important;
    text-align: center;
    line-height: 47px;
    padding: 0;
}
.pager .current {
    background: #80244e !important;
    color: #fff;
}
.pager.sp{
  display: none;
}
@media (max-width: 680px){
  .pager.sp{
    width: 90%;
    margin: 20px auto;
    display: flex !important;
  }
}
/* ニュース一覧 */
.archive-news{
  background: #f0f2f4;
  .body-wrapper{
    width: 1200px;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between;
  }
  .news-list{
    width: 880px;
    background: #fff;
    .head{
      background: $grey;
      padding: 30px;
      margin: 30px;
      border-left: 4px solid $navy;
      img{
        padding-right: 5px;
      }
      p{
        font-weight: bold;
        font-size: 22px;
        color: #616262;
        letter-spacing: 2px;
      }
    }
    li{
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      width: 90%;
      margin: 0 auto;
      .images{
        position: relative;
        width: 250px;
        height: 150px;
        .noimage{

        }
        img{
          width: 100%;
          height: auto;
        }
      }
      .detail{
        width: 520px;
        .cat{
          display: inline-block;
          font-size: 12px;
          color: #fff;
          font-weight: bold;
          padding: 4px 13px;
          border-radius: 8px;
          line-height: 13px;
          margin-left: 15px;
          vertical-align: bottom;
        }
        .date{
					font-size: 12px;
					font-weight: bold;
					color: #616262;
					letter-spacing: 1px;
					display: inline-block;
					vertical-align: super;
          &:before{
            content: '';
            width: 24px;
            height: 16px;
            display: inline-block;
            background: url(../images/news/ico-date.png);
            vertical-align: sub;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }

        h3.title{
          font-size: 19px;
          font-weight: 500;
          color: #616262;
          line-height: 30px;
          margin-top: 20px;
					text-align: left;
          &:after{content: none;}
        }
      }
      &.new .images:before{
        content: '';
        display: block;
        width: 45px;
        height: 40px;
        position: absolute;
        left: 5px;
        top: -6px;
        background: url(../images/news/ico-new.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

aside{
  width: 300px;
  .block{

  }
  .head{
		background: #80244e;
		padding: 10px;
    margin: 10px auto;
		font-weight: bold;
		font-size: 18px;
		color: #fff;
		letter-spacing: 2px;
		text-align: center;
		width: 230px;
		border-radius: 10px;
    img{
      display: inline-block;
      vertical-align: sub;
      padding-right: 5px;
    }
  }
  .block{
    background: #fff;
    padding: 10px 0;
  }
  .block.category{
		ul{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 260px;
			margin: 15px auto;
		}
    li{
			opacity: 0.8;
			transition-duration: .3s;
			font-size: 13px;
	    font-weight: bold;
	    color: #fff;
	    padding: 16px 10px;
	    letter-spacing: 1px;
	    width: 100px;
	    margin: 5px auto 0;
	    position: relative;
	    border-radius: 5px;
	    text-align: center;
			&:hover{
				opacity: 0.6;
				transition-duration: .3s;
			}
    }
    .sub{
      display: none;
      padding: 0;
      margin: 0 auto;
      text-align: left;
    }
    .pulldown.-open{
      &:after{
        content: '-';
      }
    }
    .cat-club-sport{
      border: none;
      color: #fff !important;
      background: $club;
      &:after{
        content: '+';
        height: 19px;
        width: 19px;
        background: #fff;
        color: $club;
        position: absolute;
        right: 3px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 22px;
        text-align: center;
        line-height: 18px;
        letter-spacing: -1px;
      }
    }
    .cat-club-culture{
      background: $club;
      color: #fff !important;
      border: none;
      &:after{
        content: '+';
        height: 19px;
        width: 19px;
        background: #fff;
        color: $club;
        position: absolute;
        right: 3px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 22px;
        text-align: center;
        line-height: 18px;
        letter-spacing: -1px;
      }
    }
    .sub span{
      background: #fff;
      border: 2px solid $club;
      color: $club !important;
      display: inline-block;
      font-size: 13px;
      padding: 6px 9px;
      border-radius: 14px;
      line-height: 13px;
      margin-left: 5px;
      vertical-align: text-bottom;
      margin-top: 5px;
      font-weight: 500;
    }
    .sub-sport span{
      border: 2px solid $club;
      color: $club !important;
    }
    .sub-culture span{
      border: 2px solid $club;
      color: $club !important;
    }
  }
  .block.latest{
    margin-top: 20px;
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 250px;
      margin: 0 auto;
    }
    a{
      width: 45%;
    }
    li{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 10px 0;
      box-sizing: border-box;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      &:last-child{
        border-bottom: none;
      }
      .right{
        width: 100%;
      }
      .right p{
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }
      .left{
        width: 100%;
        img{
          width: 100%;
          height: 65px;
        }
      }
      .date{
        letter-spacing: 1px;
        display: inline-block;
        vertical-align: super;
        font-size: 12px;
        font-weight: bold;
        color: #616262;
        &:before{
          content: '';
          width: 20px;
          height: 16px;
          display: inline-block;
          background: url(../images/news/ico-date.png);
          vertical-align: sub;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }


  .block.archive{
    .pulldown.-open{
      &:after{
        content: '-';
      }
    }
  }
  .block.archive li{
    font-family: yu gothic;
    list-style: none;
    font-size: 13px;
    font-weight: bold;
    padding: 6px;
    letter-spacing: 1px;
    width: 235px;
    margin: 15px auto;
    position: relative;
    border: 1px solid #80244e;
    color: #80244e;
    border-radius: 3px;
    &:after{
      content: '+';
      height: 19px;
      width: 19px;
      background: #fff;
      color: #80244e;
      position: absolute;
      right: 3px;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 22px;
      text-align: center;
      line-height: 18px;
    }
  }
  .block.archive .sub{
    display: none;
    background: #fff;
    &:after{
      content: none;
    }
  }
  .block.archive .sub a{
    color: #80244e;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    line-height: 22px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #80244e;
  }
}

@media (max-width: 680px){
  .archive-news{

    .body-wrapper{
      width: 100%;
      flex-direction: column;
      margin: 0 auto;
    }
    .news-list{
      width: 100%;
    }
    .news-list .head{
      margin: 10px auto;
      width: 90%;
      box-sizing: border-box;
      padding: 20px;
    }
    .news-list li{
      width: 90%;
      .detail{
        width: calc( 100% - 130px);
        .date{
          display: block;
          margin-bottom: 8px;
        }
        h3.title{
          font-size: 16px;
          line-height: 19px;
        }
        .cat{
          margin-left: 0;
          font-size: 12px;
        }
      }

      .images{
        width: 120px;
        height: 120px;
        object-fit: cover;
        img{
          width: 120px;
          height: 120px;
          object-fit: cover;
          &.noimage{
            width: 100%;
            object-fit: contain;
            position: absolute;
            top: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 680px){
  aside{
    width: 100%;
    .head{
      width: 90%;
      box-sizing: border-box;
    }
    .block.category ul{
      width: 100%;
      flex-direction: column;
      margin: 5px auto;
    }
    .block.category li{
      width: 90%;
      box-sizing: border-box;
      text-align: center;
      margin: 3px auto;
      padding: 10px;
    }
    .block.archive li{
      width: 90%;
      box-sizing: border-box;
    }
    .block.latest .left img{
      width: 100%;
    }
  }
}

.single-news{
  background: #f0f2f4;
  .body-wrapper{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .news{
    width: 880px;
    height: max-content;
    .head{
      background: #fff;
      border-bottom: 1px solid #ccc;
			padding: 15px 50px;
      box-sizing: border-box;
      .cat{
        display: inline-block;
        font-size: 13px;
        color: #fff;
        font-weight: bold;
        padding: 6px 20px;
        border-radius: 4px;
        line-height: 13px;
        margin-left: 5px;
        vertical-align: bottom;
      }
      .date{
				line-height: 25px;
		    font-size: 14px;
		    font-weight: bold;
		    color: #616262;
		    letter-spacing: 2px;
		    display: inline-block;
        &:before{
          content: '';
          width: 24px;
          height: 18px;
          display: inline-block;
          background: url(../images/news/ico-date.png);
          vertical-align: sub;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .cat{
        display: inline-block;
        font-size: 13px;
        color: #fff;
        font-weight: bold;
        padding: 6px 20px;
        border-radius: 10px;
        line-height: 13px;
        margin-left: 5px;
        vertical-align: bottom;
      }
      h3{
				font-size: 24px;
		    line-height: 34px;
		    text-align: left;
		    margin: 10px 0 0;
        &:after{
          content: none;
        }
      }
    }
    article{
      background: #fff;
      padding: 50px;
      line-height: 25px;
    }
    .single-pager{
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      font-size: 14px;
      .dummy{visibility: hidden;}
      div{
        background: #fff;
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 5px;
        box-sizing: border-box;
        line-height: 30px;
        transition-duration: 0.3s;
        cursor: pointer;
        &:hover{
          opacity: 0.7;
          transition-duration: 0.3s;
        }
      }
      &.sp span{
        display: none;
      }
      .prev,.next{
        width: 345px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px 70px;
        position: relative;
      }
      .prev:hover>:before{
        left: 14px;
      }
      .prev:before{
        content: url(../images/news/ico-arrow.png);
        position: absolute;
        left: 20px;
        top: 0;
        bottom: 0;
        height: 22px;
        margin: auto;
      }
      .next:hover>:after{
        right: 14px;
      }
      .next:after{
        content: url(../images/news/ico-arrow.png);
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        height: 22px;
        margin: auto;
        transform: rotate(180deg);
      }
      .all{
        width: 155px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 680px){
  .pager.pc{
    display: none;
  }
  .single-news{
    .body-wrapper{
      width: 100%;
      margin: 0 auto;
      flex-direction: column;
    }
    .news{
      width: 100%;
      article{
        height: auto;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 10px 50px;
      }
      .head{
        height: auto;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        .cat{
          margin-left: 0;
          margin-top: 8px;
        }
        h3{
          line-height: 29px;
          font-size: 20px;
          padding: 20px 0;
        }
      }
      p>img {
        width: 100%;
        height: auto;
        margin: 1rem auto;
      }

      .single-pager{
        display: flex !important;
        width: 90%;
        margin: 20px auto;
        .next,.prev{
          padding: 0;
          padding: 5px;
          height: 42px;
          width: 42px;
          span{display: none;}
          a{
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
          }
        }
        .prev:before{left: 13px;}
        .next:after{right: 13px;}
      }
    }

  }
}
