@charset "UTF-8";
/*
** 2.Common style
*/
@media screen and (min-width: 980px) { html { font-size: 75%; } }

.mv { margin-top: 20rem; text-align: center; color: #9e9e9e; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }

.mv h1 { font-size: 2.5rem; line-height: 2; letter-spacing: 0.1667em; color: #911d4d; display: inline; }

@media screen and (max-width: 979px) { .mv h1 { padding-left: 0; float: none; } }

main section { margin-top: 8rem; }

@media screen and (max-width: 979px) { main section { margin: 5rem 0 0; } }

.sub-menu ul { display: flex; width: 900px; margin: 50px auto; justify-content: space-between; }

.sub-menu li { font-size: 15px; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-weight: bold; letter-spacing: 2px; transition-duration: 0.3s; }

.sub-menu li:hover { color: #911D4D; border-bottom: 2px solid #911D4D; transition-duration: 0.3s; }

.sub-menu li.-current { color: #911D4D; border-bottom: 2px solid #911D4D; padding-bottom: 5px; }

.article-main h2 { font-size: 29px; color: #911D4D; letter-spacing: 6px; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-weight: bold; text-align: center; border-top: 4px solid #911D4D; border-bottom: 4px solid #911D4D; line-height: 50px; }

.article-main h3 { font-size: 24px; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; color: #911D4D; font-weight: 500; border-left: 5px solid #911D4D; padding-left: 10px; }

.article-main article { width: 960px; margin: 0 auto; }

.article-main article p { margin-bottom: 50px; margin-top: 20px; font-size: 14px; line-height: 22px; }

.mv.header-title h1 { border-bottom: 1px solid #911d4d; }

.mv.header-title p { font-size: 1.2rem; line-height: 1.8; }

/****
**** PROGRAM
***/
.program .-hover { background: #7c7c7c !important; color: #fff !important; transition-duration: .3s !important; }

.program .article-main { text-align: center; width: 800px; margin: 0 auto; }

@media (max-width: 980px) { .program .article-main { width: 100%; } }

.program .article-main article { width: 100%; }

.program .article-main h2 { font-size: 18px; line-height: 26px; letter-spacing: 2px; border: none; color: #000; }

.program .article-main p { font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-size: 12px; text-align: center; font-weight: bold; }

.program .article-main h5 { font-size: 14px; font-weight: bold; color: #911D4D; margin: 0 auto 50px; display: inline-block; }

.program .article-main .two-column { text-align: left; display: flex; width: 740px; margin: 0 auto; justify-content: space-between; }

@media (max-width: 980px) { .program .article-main .two-column { width: 100%; flex-direction: column; } }

.program .article-main .two-column .box { width: 48%; }

@media (max-width: 980px) { .program .article-main .two-column .box { width: 100%; } }

.program .article-main .two-column h4 { color: #911D4D; position: relative; line-height: 60px; height: auto; display: inline; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-size: 24px; font-weight: bold; }

.program .article-main .two-column p { background-color: #ededed; font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif; font-size: 14px; font-weight: 500; padding: 20px; line-height: 20px; }

.program .article-main .three-column { text-align: left; display: flex; width: 740px; margin: 50px auto 0; justify-content: space-between; border-bottom: 1px solid #000; padding-bottom: 50px; }

@media (max-width: 980px) { .program .article-main .three-column { flex-direction: column; width: 100%; } }

.program .article-main .three-column .box { background: #911D4D; width: 32%; position: relative; }

@media (max-width: 980px) { .program .article-main .three-column .box { width: 240px; position: relative; margin: 20px auto; padding-bottom: 30px; } }

.program .article-main .three-column .box:after { content: ''; width: 0; height: 0; border-style: solid; border-width: 0 30px 30px 0; border-color: transparent #fff transparent transparent; position: absolute; top: 0; right: 0; }

.program .article-main .three-column .box .title { background: #fff; margin: 30px 0 0 0; padding-left: 20px; line-height: 40px; font-size: 22px; font-weight: bold; color: #911D4D; display: inline-block; position: relative; }

.program .article-main .three-column .box .title:after { content: ''; width: 0; height: 0; border-style: solid; border-width: 40px 0 0 40px; border-color: transparent transparent transparent #fff; position: absolute; top: 0; right: -40px; }

.program .article-main .three-column .box .sub-title { color: #fff; font-weight: bold; font-size: 16px; padding: 20px; }

.program .article-main .three-column .box p { color: #fff; font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif; font-weight: bold; font-size: 12px; text-align: left; padding: 0 18px 0; line-height: 18px; }

.program .article-main .img-list { border-bottom: 1px solid #000; }

.program .flow { display: flex; flex-wrap: wrap; font-weight: bold; padding: 0 10px; }

.program .flow .block { -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; text-orientation: upright; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝"; }

.program .flow .head { font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝"; font-size: 20px; height: 60px; line-height: 26px; box-sizing: border-box; }

.program .flow .lane { display: flex; flex-direction: column; margin-top: 25px; }

.program .flow .sixyear { display: flex; flex-direction: column; margin-left: 17px; width: 225px; }

.program .flow .sixyear .block { display: flex; }

.program .flow .sixyear .upper div, .program .flow .sixyear .lower div { position: relative; }

.program .flow .sixyear .upper { width: 100%; font-size: 20px; height: 633px; display: flex; flex-wrap: wrap; flex-direction: column-reverse; }

.program .flow .sixyear .upper div { flex-wrap: wrap; width: 92px; display: block; letter-spacing: 0; line-height: 92px; background: #e5e5e5; margin: 0 10px; }

.program .flow .sixyear .upper div:before { content: ''; width: 0; height: 0; border-style: solid; border-width: 15px 0 0 46px; border-color: transparent transparent transparent #ffffff; position: absolute; bottom: 0; left: 0; }

.program .flow .sixyear .upper div:after { content: ''; width: 0; height: 0; border-style: solid; border-width: 0 0 15px 46px; border-color: transparent transparent #ffffff transparent; position: absolute; bottom: 0; right: 0; }

.program .flow .sixyear .lower { display: flex; flex-wrap: wrap; flex-direction: column-reverse; }

.program .flow .sixyear .lower div { width: 60px; height: 620px; line-height: 60px; font-size: 18px; text-align: left; padding-top: 15px; background: #f1e8ed; margin: 0 7px; }

.program .flow .sixyear .lower div:before { content: ''; width: 0; height: 0; border-style: solid; border-width: 15px 0 0 30px; border-color: transparent transparent transparent #ffffff; position: absolute; bottom: 0; left: 0; }

.program .flow .sixyear .lower div:after { content: ''; width: 0; height: 0; border-style: solid; border-width: 0 0 15px 30px; border-color: transparent transparent #ffffff transparent; position: absolute; bottom: 0; right: 0; }

.program .flow .sixyear .lower div span { font-size: 14px; font-weight: bold; letter-spacing: -1px; }

.program .flow .global-education { width: 370px; border-left: 1px dashed #911D4D; margin-left: 0; }

.program .flow .global-education .block { display: flex; flex-wrap: wrap; flex-direction: column-reverse; }

.program .flow .global-education .upper, .program .flow .global-education .lower { position: relative; }

.program .flow .global-education .upper:before, .program .flow .global-education .lower:before { content: ''; width: 0; height: 0; border-style: solid; border-width: 10px 0 0 20px; border-color: transparent transparent transparent #ffffff; position: absolute; bottom: 0; left: 0; }

.program .flow .global-education .upper:after, .program .flow .global-education .lower:after { content: ''; width: 0; height: 0; border-style: solid; border-width: 0 0 10px 20px; border-color: transparent transparent #ffffff transparent; position: absolute; bottom: 0; right: 0; }

.program .flow .global-education .upper { font-size: 18px; width: 32px; height: 633px; background: #d9d9d9; margin-left: 13px; line-height: 30px; position: relative; }

.program .flow .global-education .upper.blank { background: none; }

.program .flow .global-education .upper.long:after, .program .flow .global-education .upper.long:before { content: ''; width: 23px; height: 20px; position: absolute; bottom: -10px; left: 0px; background: #d9d9d9; border: none; }

.program .flow .global-education .upper.long.-hover:after, .program .flow .global-education .upper.long.-hover:before { background: #7c7c7c !important; color: #fff !important; transition-duration: .3s !important; }

.program .flow .global-education .upper span { font-size: 14px; font-weight: bold; }

.program .flow .global-education .lower { padding-top: 15px; text-align: left; background: #f1e8ed; font-size: 18px; width: 32px; height: 620px; margin-left: 13px; line-height: 30px; }

.program .flow .global-education .lower span { font-size: 14px; font-weight: bold; }

.program .flow .global-education .lower.one { height: 200px; }

.program .flow .global-education .lower.two { height: 400px; }

.program .flow .global-education .lower.long { background: #d9d9d9; height: 400px; }

.program .flow .global-education .lower.blank { background: none; }

.program .flow .stem { padding-left: 2px; border-left: 1px dashed #911D4D; }

.program .flow .stem .block { display: flex; flex-direction: row; width: 80px; }

.program .flow .stem .upper, .program .flow .stem .lower { position: relative; }

.program .flow .stem .upper:before, .program .flow .stem .lower:before { content: ''; width: 0; height: 0; border-style: solid; border-width: 15px 0 0 36px; border-color: transparent transparent transparent #ffffff; position: absolute; bottom: 0; left: 0; }

.program .flow .stem .upper:after, .program .flow .stem .lower:after { content: ''; width: 0; height: 0; border-style: solid; border-width: 0 0 15px 36px; border-color: transparent transparent #ffffff transparent; position: absolute; bottom: 0; right: 0; }

.program .flow .stem .upper { height: 633px; width: 65px; line-height: 65px; font-size: 17px; text-align: left; padding-top: 15px; margin-left: 8px; background: #b2b2b2; box-sizing: border-box; }

.program .flow .stem .lower { height: 640px; width: 65px; line-height: 65px; font-size: 17px; text-align: left; padding-top: 15px; background: #d5bbc8; margin-left: 8px; box-sizing: border-box; }

.program .flow .upper { width: 60px; font-size: 20px; margin-bottom: 10px; }

.program .flow .left { font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝"; display: flex; flex-wrap: wrap; width: 50px; line-height: 20px; font-size: 14px; margin-left: 25px; margin-top: 86px; }

.program .flow .left .large { padding: 160px 0; width: 20px; height: 420px; background: #ededed; color: #911D4D; margin-right: 5px; box-sizing: border-box; }

.program .flow .left .small { display: flex; flex-wrap: wrap; flex-direction: column; width: 20px; }

.program .flow .left .small div { background: #b37b94; color: #fff; width: 20px; height: 206px; letter-spacing: 7px; margin-bottom: 8px; box-sizing: border-box; padding: 50px 0; letter-spacing: 0px; }

.program .comment { text-align: center; }

.program .comment .title { font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-size: 29px; font-weight: bold; letter-spacing: 5px; margin: 100px auto 0; text-align: center; width: 100%; color: #911D4D; position: relative; line-height: 30px; height: auto; }

.program .comment .slider img { width: 580px !important; margin: 0 auto; }

@media (max-width: 980px) { .program .comment .slider img { width: 100% !important; } }

@media (max-width: 980px) { .program .owl-carousel { width: 90%; margin: 50px auto; } }

.program .owl-nav { width: 670px; margin: 0 auto; position: relative; }

@media (max-width: 980px) { .program .owl-nav { display: none; } }

.program .owl-nav .owl-prev { position: absolute; left: 0; bottom: 130px; }

.program .owl-nav .owl-prev:after { content: ''; display: block; width: 15px; height: 15px; border-top: 2px solid #911D4D; border-right: 2px solid #911D4D; -webkit-transform: rotate(225deg); transform: rotate(225deg); }

.program .owl-nav .owl-next { position: absolute; right: 0; bottom: 130px; }

.program .owl-nav .owl-next:after { content: ''; display: block; width: 15px; height: 15px; border-top: 2px solid #911D4D; border-right: 2px solid #911D4D; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.program .owl-dot { border: 1px solid #911D4D !important; border-radius: 50%; width: 5px; height: 5px; margin: 20px 8px; }

.program .owl-dot.active { background-color: #911D4D !important; }

/********
*** CLUB
********/
.club .article-main { text-align: center; width: 100%; margin: 0 auto; }

.club .article-main article { width: 740px; margin: 0 auto; }

.club .article-main h2 { font-size: 15px; line-height: 30px; letter-spacing: 2px; border: none; color: #000; }

@media (max-width: 980px) { .club .article-main h2 { text-align: left; } }

.club .article-main .sub-menu { font-size: 15px; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-weight: 500; display: flex; justify-content: space-evenly; margin: 50px auto; width: 330px; }

.club .article-main .sub-menu a { transition-duration: .3s; padding-bottom: 7px; }

.club .article-main .sub-menu a:hover { color: #911D4D; border-bottom: 1px solid #911D4D; padding-bottom: 5px; transition-duration: .3s; }

.club .article-main p { font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-size: 12px; text-align: center; font-weight: bold; }

.club .article-main h5 { font-size: 14px; font-weight: bold; color: #911D4D; margin: 0 auto 50px; display: inline-block; }

.club .article-main .two-column { text-align: left; display: flex; width: 740px; margin: 0 auto; justify-content: space-between; flex-wrap: wrap; position: relative; }

@media (max-width: 980px) { .club .article-main .two-column { flex-direction: column; width: 100%; } }

.club .article-main .two-column .box { width: 48%; margin-top: 50px; background: #e5e5e7; position: relative; padding: 0px 20px; box-sizing: border-box; display: flex; justify-content: space-between; align-items: flex-start; }

@media (max-width: 980px) { .club .article-main .two-column .box { padding: 0 0 0 5px; } }

.club .article-main .two-column .box:hover > span { opacity: 1; transition-duration: 0.3s; }

.club .article-main .two-column .box img { margin-top: 20px; margin-right: 40px; align-items: flex-start; }

.club .article-main .two-column .box span { opacity: 0; transition-duration: 0.3s; width: 140px; background: rgba(145, 29, 77, 0.9); color: #fff; display: inline-block; padding: 10px; font-size: 12px; line-height: 20px; position: absolute; top: -40px; right: -130px; z-index: 1; }

.club .article-main .two-column .box span:before { content: ''; width: 0; height: 0; border-style: solid; border-width: 0 0 20px 50px; border-color: transparent transparent #911D4D transparent; opacity: 0.9; position: inherit; left: -40px; bottom: 20px; }

.club .article-main .two-column h3 { font-size: 28px; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; color: #fff; font-weight: 500; border-left: 5px solid #911D4D; padding-left: 10px; background: #911D4D; letter-spacing: 14px; display: inline-block; padding: 10px; position: absolute; left: -20px; top: -20px; }

@media (max-width: 980px) { .club .article-main .two-column h3 { left: 0; } }

.club .article-main .two-column h4 { color: #000; position: relative; line-height: 30px; height: auto; display: inline; font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif; font-size: 22px; font-weight: bold; margin: 20px 0; display: inline-block; }

.club .article-main .two-column p { font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif; font-size: 16px; font-weight: bold; line-height: 26px; text-align: left; width: 200px; }

.club #sports { background: #f6f6f6; position: relative; margin-bottom: 100px; padding-bottom: 50px; }

@media (max-width: 980px) { .club #sports { width: 310px !important; margin: 0 auto 50px !important; } }

.club #culture { background: #f6f0f4; position: relative; padding-bottom: 50px; }

@media (max-width: 980px) { .club #culture { width: 310px !important; margin: 0 auto 50px !important; } }

/********
*** GLOBAL
********/
.global .article-main { text-align: center; width: 100%; margin: 0 auto; }

.global .article-main .wrp { width: 740px; margin: 0 auto; }

.global .article-main article { width: 740px; margin: 0 auto; }

@media (max-width: 980px) { .global .article-main article { width: 90%; } }

.global .article-main h2 { font-size: 16px; letter-spacing: 1px; line-height: 30px; border: none; color: #000; }

.global .article-main .sub-menu { font-size: 15px; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-weight: 500; display: flex; justify-content: space-evenly; margin: 50px auto; width: 330px; }

@media (max-width: 980px) { .global .article-main .sub-menu { width: 90%; } }

.global .article-main .sub-menu a { transition-duration: .3s; padding-bottom: 7px; }

.global .article-main .sub-menu a:hover { color: #911D4D; border-bottom: 1px solid #911D4D; padding-bottom: 5px; transition-duration: .3s; }

.global .article-main p { font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-size: 12px; text-align: center; font-weight: bold; }

.global .article-main h5 { font-size: 14px; font-weight: bold; color: #911D4D; margin: 0 auto 50px; display: inline-block; }

.global .article-main h3 { font-size: 26px; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; color: #911D4D; font-weight: 500; border-left: none; letter-spacing: 2px; text-align: left; padding-left: 0; }

.global .article-main h3 span { display: block; font-size: 13px; letter-spacing: 1px; line-height: 30px; font-weight: bold; font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif; }

.global .article-main h3 span:after { content: ''; width: 10px; height: 1px; background: #911D4D; display: inline-block; vertical-align: super; margin-left: 0px; }

.global .article-main h3 span:before { content: ''; width: 10px; height: 1px; background: #911D4D; display: inline-block; vertical-align: super; margin-right: 5px; }

.global .article-main .two-column { text-align: left; display: flex; width: 740px; margin: 0 auto; justify-content: space-between; flex-wrap: wrap; position: relative; }

@media (max-width: 980px) { .global .article-main .two-column { width: 100%; } }

.global .article-main .two-column .box { width: 100%; position: relative; box-sizing: border-box; display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 25px; padding-bottom: 25px; border-bottom: 1px solid #000; }

@media (max-width: 980px) { .global .article-main .two-column .box { flex-direction: column-reverse; } }

.global .article-main .two-column .box:hover > span { opacity: 1; transition-duration: 0.3s; }

.global .article-main .two-column .box:before { content: ''; width: 250px; height: 170px; background: #f7f7f7; z-index: -1; position: absolute; left: -190px; top: 20px; }

@media (max-width: 980px) { .global .article-main .two-column .box .image { width: 100%; } }

@media (max-width: 980px) { .global .article-main .two-column .box .image img { width: 100%; } }

.global .article-main .two-column .box .text { width: 440px; border-left: 5px solid #911D4D; padding-left: 10px; }

@media (max-width: 980px) { .global .article-main .two-column .box .text { width: 100%; box-sizing: border-box; } }

.global .article-main .two-column .box .text p { font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif; font-size: 12px; font-weight: bold; line-height: 26px; text-align: left; letter-spacing: -1px; width: auto; }

.global .article-main .two-column .box span { font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif; font-size: 12px; font-weight: bold; line-height: 20px; text-align: right; letter-spacing: 0; width: auto; float: right; margin: 0 0 20px; }

@media (max-width: 980px) { .global .article-main .two-column .box span { float: none; display: inline-block; line-height: 14px; } }

@media (max-width: 980px) { .global .article-main .two-column .box span br { display: none; } }

.global .article-main .two-column h4 { color: #000; position: relative; line-height: 30px; height: auto; display: inline; font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif; font-size: 22px; font-weight: bold; margin: 0 0 20px; display: inline-block; }

@media (max-width: 980px) { .global .article-main .two-column h4 { margin: 0 0 4px; } }

.global .article-main .two-column p { font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif; font-size: 16px; font-weight: bold; line-height: 26px; text-align: left; width: 200px; }

.global .voice { margin-bottom: 50px; margin-top: 50px; }

.global .voice h2 { color: #911D4D; font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif; text-align: left; font-size: 28px; line-height: 28px; padding-bottom: 50px; }

.global .voice .two-column .box { border: none; padding-bottom: 0; }

@media (max-width: 980px) { .global .voice .two-column .box { display: flex; flex-direction: row; flex-wrap: wrap; } }

.global .voice .two-column .box:before { top: 20px; width: calc( 720px + 50vw - 360px); left: 0; height: 100%; }

@media (max-width: 980px) { .global .voice .two-column .box:before { width: 100%; } }

.global .voice .two-column .box .text { border: none; }

@media (max-width: 980px) { .global .voice .two-column .box .text { padding-left: 0; } }

.global .voice .two-column .box .text h3 { line-height: 40px; }

.global .voice .two-column .box .text p { font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-size: 13px; }

.global .voice .two-column .image { position: relative; height: 100%; width: 100px; }

@media (max-width: 980px) { .global .voice .two-column .image { width: 100px !important; height: auto; margin-right: 15%; } }

.global .voice .two-column .image img { position: absolute; bottom: -50px; left: 0; }

@media (max-width: 980px) { .global .voice .two-column .image img { position: relative; bottom: 0; } }

.global .voice .two-column .detail { color: #911D4D; position: relative; height: 100%; width: 100px; }

@media (max-width: 980px) { .global .voice .two-column .detail { display: block; height: 70px; width: 50%; text-align: center; } }

.global .voice .two-column .detail .name { line-height: 30px; font-size: 13px; font-weight: 500; margin-top: 50px; }

@media (max-width: 980px) { .global .voice .two-column .detail .name { line-height: 22px; display: block; width: 80px; margin: 70px auto 50px; } }

.global .voice .two-column .detail .see { position: absolute; bottom: 0; font-size: 14px; font-weight: 500; border-bottom: 1px solid; display: inline; width: auto; padding-right: 10px; }

@media (max-width: 980px) { .global .voice .two-column .detail .see { position: relative; } }

.global .voice .two-column .detail .see:after { content: ''; width: 0; height: 0; border-style: solid; border-width: 5px 0 5px 13px; border-color: transparent transparent transparent #911D4D; display: inline-block; vertical-align: middle; margin-left: 7px; }

.pagetop { height: 100px; margin: 100px 0; text-align: center; cursor: pointer; }

.pagetop p { color: #911D4D; font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif; font-weight: bold; font-size: 12px; padding: 0 18px 0; line-height: 18px; }

.pagetop .arrow { content: ''; display: block; width: 25px; height: 25px; border-top: 5px solid #911D4D; border-right: 5px solid #911D4D; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); margin: 10px auto; }

@media (max-width: 980px) { html { min-width: 100%; }
  .mv { margin-top: 9.1rem; }
  .sub-menu ul { width: 100%; justify-content: space-between; flex-wrap: wrap; }
  .sub-menu ul a { margin: 20px 0; width: 50%; text-align: center; }
  .sub-menu ul a li { display: inline-block; }
  .article-main { width: 90% !important; margin: 0 auto !important; }
  .article-main article { width: 100% !important; }
  .header-title h1 { padding-left: 0; float: none; }
  /** GLOBAL */
  .global .article-main .sub-menu { flex-direction: column; line-height: 22px; }
  .global .article-main .wrp { width: 90%; } }

/*
** internet
**/
.internet main .article-main > :not(:last-child) { margin-top: 5rem; margin-bottom: 0; }

.internet main .caution { margin-top: 0 !important; font-size: 1rem; color: red; font-weight: bold; }

.internet main h4 { font-size: 1.8rem; }

@media (max-width: 980px) { .internet main h4 { font-size: 1.6rem; } }

.internet main h3 span:before, .internet main h3 span:after { content: none; }

.internet main .two-column .text { height: 146px; }

@media (max-width: 980px) { .internet main .two-column .text { border-left: 0; padding-left: 0; } }

.internet main .two-column .box { width: 48%; border: none; margin-bottom: 0; padding-bottom: 0; }

@media (max-width: 980px) { .internet main .two-column .box { width: 100%; } }

.internet main .two-column .box:before { content: ''; width: 100%; background: #f7f7f7; z-index: -1; position: absolute; top: 1.2rem; left: 3rem; right: 0; height: 11rem; }

@media (max-width: 980px) { .internet main .two-column .box:before { left: 0; } }

.internet main .two-column .box.flow { display: block; text-align: center; background: #911D4D; color: #fff; font-size: 2rem; font-weight: bold; line-height: 80px; height: 120px; width: 420px; margin: 0; padding: 0 !important; position: relative; border: none; }

@media (max-width: 980px) { .internet main .two-column .box.flow { width: 100%; } }

.internet main .two-column .box.flow:after { position: absolute; content: ''; width: 0; height: 0; border-style: solid; border-width: 50px 0 0 210px; border-color: transparent transparent transparent #fff; left: 0; bottom: 0; }

.internet main .two-column .box.flow:before { position: absolute; content: ''; width: 0; height: 0; border-style: solid; border-width: 0 0 50px 210px; border-color: transparent transparent #ffffff transparent; background: none; right: 0; top: auto; left: auto; bottom: -1px; z-index: 1; }
