@charset "UTF-8";

/*
** 2.Common style
*/
$inner: 960px;
$wine: #911D4D;
$sp: 980px;
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.mv{
	height: 430px;
	margin-top: 160px;
  margin-bottom: 60px;
  background-size: cover;
	background: dimgray;
	position: relative;
	h1{
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-size: 29px;
    letter-spacing: 5px;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    height: 30px;
    width: 100%;
	}
}

.sub-menu{
	ul{
		display: flex;
    width: 900px;
    margin: 50px auto;
    justify-content: space-between;
	}
	li{
		font-size: 15px;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-weight: bold;
    letter-spacing: 2px;
		transition-duration: 0.3s;
		&:hover{
			color: $wine;
			border-bottom: 2px solid $wine;
			transition-duration: 0.3s;
		}
	}
	li.-current{
		color: $wine;
    border-bottom: 2px solid $wine;
    padding-bottom: 5px;
	}
}

.article-main{
	h2{
		font-size: 29px;
    color: $wine;
    letter-spacing: 6px;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-weight: bold;
    text-align: center;
    border-top: 4px solid $wine;
    border-bottom: 4px solid $wine;
    line-height: 50px;
	}
	h3{
		font-size: 24px;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    color: $wine;
    font-weight: 500;
    border-left: 5px solid $wine;
    padding-left: 10px;
	}
 	article{
		width: 960px;
		margin: 0 auto;
		p{
			margin-bottom: 50px;
	    margin-top: 20px;
	    font-size: 14px;
	    line-height: 22px;
		}
	}
}

.mv.header-title{
	background: none;
	text-align: center;
	height: 120px;
	padding: 50px 0;
  margin-bottom: 0;
	h1{
		color: $wine;
		position: relative;
    line-height: 60px;
		height: auto;
		border-bottom: 1px solid $wine;;
		display: inline;
	}
	p{
		color: #9e9e9e;
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
		font-size: 24px;
	}
}

/****
**** PROGRAM
***/
.program{
  .-hover{
    background: #7c7c7c !important;
    color: #fff !important;
    transition-duration: .3s !important;
  }
	.article-main{
		text-align: center;
		width: 800px;
		margin: 0 auto;
    @include sp{
      width: 100%;
    }
		article{
			width: 100%;
		}
		h2{
			font-size: 18px;
			line-height: 26px;
			letter-spacing: 2px;
			border: none;
			color: #000;
		}
		p{
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	    font-size: 12px;
	    text-align: center;
	    font-weight: bold;
		}
		h5{
			font-size: 14px;
	    font-weight: bold;
			color: $wine;
	    margin: 0 auto 50px;
	    display: inline-block;
		}
		.two-column{
			text-align: left;
			display: flex;
			width: 740px;
			margin: 0 auto;
			justify-content: space-between;
      @include sp{
        width: 100%;
        flex-direction: column;
      }
			.box{
				width: 48%;
        @include sp{
          width: 100%;
        }
			}
			h4{
				color: $wine;
		    position: relative;
		    line-height: 60px;
		    height: auto;
		    display: inline;
		    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
		    font-size: 24px;
		    font-weight: bold;
			}
			p{
				background-color: #ededed;
				font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
				font-size: 14px;
				font-weight: 500;
				padding: 20px;
				line-height: 20px;
			}
		}
		.three-column{
			text-align: left;
	    display: flex;
	    width: 740px;
	    margin: 50px auto 0;
	    justify-content: space-between;
	    border-bottom: 1px solid #000;
	    padding-bottom: 50px;
      @include sp{
        flex-direction: column;
        width: 100%;
      }
			.box{
    		background: $wine;
				width: 32%;
				position: relative;
        @include sp{
          width: 240px;
          position: relative;
          margin: 20px auto;
          padding-bottom: 30px;
        }
				&:after{
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 30px 30px 0;
					border-color: transparent #fff transparent transparent;
					position: absolute;
					top: 0;
					right: 0;
				}
				.title{
					background: #fff;
			    margin: 30px 0 0 0;
			    padding-left: 20px;
			    line-height: 40px;
			    font-size: 22px;
			    font-weight: bold;
			    color: $wine;
			    display: inline-block;
					position: relative;
					&:after{
						content: '';
				    width: 0;
				    height: 0;
				    border-style: solid;
				    border-width: 40px 0 0 40px;
				    border-color: transparent transparent transparent #fff;
				    position: absolute;
				    top: 0;
				    right: -40px;
					}
				}
				.sub-title{
					color: #fff;
			    font-weight: bold;
			    font-size: 16px;
			    padding: 20px;
				}
				p{
					color: #fff;
			    font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
			    font-weight: bold;
			    font-size: 12px;
			    text-align: left;
			    padding: 0 18px 0;
			    line-height: 18px;
				}
			}
		}
		.img-list{
			border-bottom: 1px solid #000;
		}
	}

  .flow{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    padding: 0 10px;
    .block{
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      text-orientation: upright;
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝";
    }
    .head{
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝";
      font-size: 20px;
      height: 60px;
      line-height: 26px;
      box-sizing: border-box;
    }
    .lane{
      display: flex;
      flex-direction: column;
      margin-top: 25px;
    }
    .sixyear{
      display: flex;
      flex-direction: column;
      margin-left: 17px;
      width: 225px;
      .block{
        display: flex;
      }
      .upper div, .lower div{
        position: relative;
      }
      .upper{
        width: 100%;
        font-size: 20px;
        height: 633px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        div{
          flex-wrap: wrap;
          width: 92px;
          display: block;
          letter-spacing: 0;
          line-height: 92px;
          background: #e5e5e5;
          margin: 0 10px;
          &:before{
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 0 0 46px;
            border-color: transparent transparent transparent #ffffff;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          &:after{
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 15px 46px;
            border-color: transparent transparent #ffffff transparent;
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
      .lower{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        div{
          width: 60px;
          height: 620px;
          line-height: 60px;
          font-size: 18px;
          text-align: left;
          padding-top: 15px;
          background: #f1e8ed;
          margin: 0 7px;
          &:before{
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 0 0 30px;
            border-color: transparent transparent transparent #ffffff;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          &:after{
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 15px 30px;
            border-color: transparent transparent #ffffff transparent;
            position: absolute;
            bottom: 0;
            right: 0;
          }
          span{
            font-size: 14px;
            font-weight: bold;
            letter-spacing: -1px;
          }
        }
      }
    }
    .global-education{
      width: 370px;
      border-left: 1px dashed $wine;
      margin-left: 0;
      .block{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
      }
      .upper, .lower{
        position: relative;
        &:before{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 0 0 20px;
          border-color: transparent transparent transparent #ffffff;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &:after{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 10px 20px;
          border-color: transparent transparent #ffffff transparent;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      .upper{
        font-size: 18px;
        width: 32px;
        height: 633px;
        background: #d9d9d9;
        margin-left: 13px;
        line-height: 30px;
        position: relative;
        &.blank{
          background: none;
        }
        &.long{
          &:after, &:before{
            content: '';
            width: 23px;
            height: 20px;
            position: absolute;
            bottom: -10px;
            left: 0px;
            background: #d9d9d9;
            border: none;
          }
          &.-hover{
            &:after,&:before{
              background: #7c7c7c !important;
              color: #fff !important;
              transition-duration: .3s !important;
            }
          }
        }
        span{
          font-size: 14px;
          font-weight: bold;
        }
      }
      .lower{
        padding-top: 15px;
        text-align: left;
        background: #f1e8ed;
        font-size: 18px;
        width: 32px;
        height: 620px;
        margin-left: 13px;
        line-height: 30px;
        span{
          font-size: 14px;
          font-weight: bold;
        }
        &.one{
          height: 200px;
        }
        &.two{
          height: 400px;
        }
        &.long{
          background: #d9d9d9;
          height: 400px;
        }
        &.blank{
          background: none;
        }
      }
    }
    .stem{
      padding-left: 2px;
      border-left: 1px dashed $wine;
      .block{
        display: flex;
        flex-direction: row;
        width: 80px;
      }
      .upper, .lower{
        position: relative;
        &:before{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 0 0 36px;
          border-color: transparent transparent transparent #ffffff;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &:after{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 15px 36px;
          border-color: transparent transparent #ffffff transparent;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      .upper{
        height: 633px;
        width: 65px;
        line-height: 65px;
        font-size: 17px;
        text-align: left;
        padding-top: 15px;
        margin-left: 8px;
        background: #b2b2b2;
    box-sizing: border-box;
      }
      .lower{
        height: 640px;
        width: 65px;
        line-height: 65px;
        font-size: 17px;
        text-align: left;
        padding-top: 15px;
        background: #d5bbc8;
        margin-left: 8px;
    box-sizing: border-box;
      }
    }
    .upper{
      width: 60px;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .left{
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝";
      display: flex;
      flex-wrap: wrap;
      width: 50px;
      line-height: 20px;
      font-size: 14px;
      margin-left: 25px;
      margin-top: 86px;
      .large{
        padding: 160px 0;
        width: 20px;
        height: 420px;
        background: #ededed;
        color: $wine;
        margin-right: 5px;
        box-sizing: border-box;
      }
      .small{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 20px;
        div{
          background: #b37b94;
          color: #fff;
          width: 20px;
          height: 206px;
          letter-spacing: 7px;
          margin-bottom: 8px;
          box-sizing: border-box;
          padding: 50px 0;
          letter-spacing: 0px;
        }
      }
    }
  }



	.comment{
		text-align: center;
		.title{
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	    font-size: 29px;
	    font-weight: bold;
	    letter-spacing: 5px;
	    margin: 100px auto 0;
	    text-align: center;
	    width: 100%;
	    color: $wine;
	    position: relative;
	    line-height: 30px;
	    height: auto;
		}
		.slider img{
			width: 580px !important;
			margin: 0 auto;;
      @include sp{
        width: 100% !important;
      }
		}
	}
  .owl-carousel{
    @include sp{
      width: 90%;
      margin: 50px auto;
    }
  }
	.owl-nav{
    width: 670px;
    margin: 0 auto;
		position: relative;
    @include sp{
      display: none;
    }
		.owl-prev{
			position: absolute;
			left: 0;
    	bottom: 130px;
		}
		.owl-prev:after{
			content: '';
			display: block;
	    width: 15px;
	    height: 15px;
	    border-top: 2px solid $wine;
	    border-right: 2px solid $wine;
	    -webkit-transform: rotate(225deg);
	    transform: rotate(225deg);
		}
		.owl-next{
			position: absolute;
			right: 0;
			bottom: 130px;
		}
		.owl-next:after{
			content: '';
			display: block;
	    width: 15px;
	    height: 15px;
	    border-top: 2px solid $wine;
	    border-right: 2px solid $wine;
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
		}
	}
	.owl-dot{
		border: 1px solid $wine !important;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 20px 8px;
		&.active{
    	background-color: $wine !important;
		}
	}
}

/********
*** CLUB
********/


.club{
	.article-main{
		text-align: center;
		width: 100%;
		margin: 0 auto;

		article{
			width: 740px;
			margin: 0 auto;
		}
		h2{
			font-size: 15px;
	    line-height: 30px;
			letter-spacing: 2px;
			border: none;
			color: #000;
      @include sp{
        text-align: left;
      }
		}
		.sub-menu{
			font-size: 15px;
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
			font-weight: 500;
			display: flex;
			justify-content: space-evenly;
			margin: 50px auto;
			width: 330px;
			a{transition-duration: .3s;padding-bottom: 7px;}
			a:hover{
				color: $wine;
		    border-bottom: 1px solid $wine;
		    padding-bottom: 5px;
				transition-duration: .3s;
			}
		}
		p{
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	    font-size: 12px;
	    text-align: center;
	    font-weight: bold;
		}
		h5{
			font-size: 14px;
	    font-weight: bold;
			color: $wine;
	    margin: 0 auto 50px;
	    display: inline-block;
		}
		.two-column{
			text-align: left;
			display: flex;
			width: 740px;
			margin: 0 auto;
			justify-content: space-between;
			flex-wrap: wrap;
			position: relative;
      @include sp{
        flex-direction: column;
        width: 100%;
      }
			.box{
				width: 48%;
				margin-top: 50px;
				background: #e5e5e7;
				position: relative;
    		padding: 0px 20px;
				box-sizing: border-box;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
        @include sp{
          padding: 0 0 0 5px;
        }
				&:hover > span{
					opacity: 1;
					transition-duration: 0.3s;
				}
				img{
					margin-top: 20px;
			    margin-right: 40px;
			    align-items: flex-start;
				}
				span{
					opacity: 0;
					transition-duration: 0.3s;
					width: 140px;
					background: rgba($wine, 0.9);
					color: #fff;
					display: inline-block;
			    padding: 10px;
			    font-size: 12px;
			    line-height: 20px;
					position: absolute;
			    top: -40px;
			    right: -130px;
			    z-index: 1;
					&:before{
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 0 20px 50px;
						border-color: transparent transparent $wine transparent;
						opacity: 0.9;
						position: inherit;
						left: -40px;
						bottom: 20px;
					}
				}
			}
			h3{
				font-size: 28px;
		    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
		    color: #fff;
		    font-weight: 500;
		    border-left: 5px solid $wine;
		    padding-left: 10px;
		    background: $wine;
		    letter-spacing: 14px;
		    display: inline-block;
		    padding: 10px;
		    position: absolute;
				left: -20px;
				top: -20px;
        @include sp{
          left: 0;
        }
			}
			h4{
				color: #000;
				position: relative;
				line-height: 30px;
				height: auto;
				display: inline;
				font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
				font-size: 22px;
				font-weight: bold;
				margin: 20px 0;
		    display: inline-block;
			}
			p{
				font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
		    font-size: 16px;
		    font-weight: bold;
		    line-height: 26px;
		    text-align: left;
		    width: 200px;
			}
		}
	}
	#sports{
    background: #f6f6f6;
		position: relative;
    margin-bottom: 100px;
		padding-bottom: 50px;
    @include sp{
      width: 310px !important;
      margin: 0 auto 50px !important;
    }
	}
	#culture{
		background: #f6f0f4;
		position: relative;
		padding-bottom: 50px;
    @include sp{
      width: 310px !important;
      margin: 0 auto 50px !important;
    }
	}
}

/********
*** GLOBAL
********/


.global{
	.article-main{
		text-align: center;
		width: 100%;
		margin: 0 auto;
		.wrp{
			width: 740px;
			margin: 0 auto;
		}
		article{
			width: 740px;
			margin: 0 auto;
      @include sp{
        width: 90%;
      }
		}
		h2{
			font-size: 16px;
	    letter-spacing: 1px;
	    line-height: 30px;
			border: none;
			color: #000;
		}
		.sub-menu{
			font-size: 15px;
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
			font-weight: 500;
			display: flex;
			justify-content: space-evenly;
			margin: 50px auto;
			width: 330px;
			@include sp{
				width: 90%;
			}
			a{transition-duration: .3s;padding-bottom: 7px;}
			a:hover{
				color: $wine;
		    border-bottom: 1px solid $wine;
		    padding-bottom: 5px;
				transition-duration: .3s;
			}
		}
		p{
			font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	    font-size: 12px;
	    text-align: center;
	    font-weight: bold;
		}
		h5{
			font-size: 14px;
	    font-weight: bold;
			color: $wine;
	    margin: 0 auto 50px;
	    display: inline-block;
		}
		h3{
			font-size: 26px;
	    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	    color: $wine;
	    font-weight: 500;
	    border-left: none;
	    letter-spacing: 2px;
	    text-align: left;
	    padding-left: 0;
			span{
				display: block;
		    font-size: 13px;
		    letter-spacing: 1px;
				line-height: 30px;
		    font-weight: bold;
		    font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
				&:after{
					content: '';
					    width: 10px;
					    height: 1px;
					    background: $wine;
					    display: inline-block;
					    vertical-align: super;
					    margin-left: 0px;
				}
				&:before{
					content: '';
					    width: 10px;
					    height: 1px;
					    background: $wine;
					    display: inline-block;
					    vertical-align: super;
					    margin-right: 5px;
				}
			}
		}
		.two-column{
			text-align: left;
			display: flex;
			width: 740px;
			margin: 0 auto;
			justify-content: space-between;
			flex-wrap: wrap;
			position: relative;
			@include sp {
				width: 100%;
			}
			.box{
				width: 100%;
		    position: relative;
		    box-sizing: border-box;
		    display: flex;
		    justify-content: space-between;
		    align-items: flex-start;
		    margin-bottom: 25px;
		    padding-bottom: 25px;
		    border-bottom: 1px solid #000;
				@include sp{
					flex-direction: column-reverse;
				}
				&:hover > span{
					opacity: 1;
					transition-duration: 0.3s;
				}
				&:before{
					content: '';
			    width: 250px;
			    height: 170px;
			    background: #f7f7f7;
			    z-index: -1;
			    position: absolute;
			    left: -190px;
			    top: 20px;
			}
        .image{
          @include sp{
            width: 100%;
          }
          img{
            @include sp{
              width: 100%;
            }
          }
        }
  			.text{
  				width: 440px;
  				border-left: 5px solid $wine;
  			   padding-left: 10px;
  				@include sp{
  					width: 100%;
            box-sizing: border-box;
  				}
  				p{
  					font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  			    font-size: 12px;
  			    font-weight: bold;
  			    line-height: 26px;
  			    text-align: left;
  			    letter-spacing: -1px;
  					width: auto;
  				}
  			}
  			span{
  				font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  				font-size: 12px;
  				font-weight: bold;
  				line-height: 20px;
  				text-align: right;
  				letter-spacing: 0;
  				width: auto;
  				float: right;
      		margin: 0 0 20px;
  				@include sp{
  					float: none;
  			    display: inline-block;
  			    line-height: 14px;
  				}
  				br{
  					@include sp{
  						display: none;
  					}
  				}
  			}
  		}

			h4{
				color: #000;
				position: relative;
				line-height: 30px;
				height: auto;
				display: inline;
				font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
				font-size: 22px;
				font-weight: bold;
		    margin: 0 0 20px;
		    display: inline-block;
        @include sp{
          margin: 0 0 4px;
        }
			}
			p{
				font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
		    font-size: 16px;
		    font-weight: bold;
		    line-height: 26px;
		    text-align: left;
		    width: 200px;
			}
		}
	}
	.voice{
    margin-bottom: 50px;
    margin-top: 50px;
 		h2{
		color: $wine;
		font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
		text-align: left;
		font-size: 28px;
		line-height: 28px;
		padding-bottom: 50px;
		}
		.two-column{
			.box{
				border: none;
				padding-bottom: 0;
        @include sp{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
			}
			.box:before{
				top: 20px;
		    width: calc( 720px + 50vw - 360px );
		    left: 0;
				height: 100%;
        @include sp{
          width: 100%;
        }
			}
			.box .text{
				border: none;
        @include sp{
          padding-left: 0;
        }
				h3{
    			line-height: 40px;
				}
				p{
					font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
			    font-size: 13px;
				}
			}
      .image{
        position: relative;
        height: 100%;
        width: 100px;
        @include sp{
          width: 100px !important;
          height: auto;
          margin-right: 15%;
        }
        img{
          position:absolute;
          bottom: -50px;
          left: 0;
          @include sp{
            position: relative;
            bottom: 0;
          }
        }
      }
			.detail{
    		color: $wine;
				position: relative;
				height: 100%;
        width: 100px;
        @include sp{
          display: block;
          height: 70px;
          width: 50%;
          text-align: center;
        }
				.name{
					line-height: 30px;
			    font-size: 13px;
			    font-weight: 500;
			    margin-top: 50px;
          @include sp{
            line-height: 22px;
            display: block;
            width: 80px;
            margin: 70px auto 50px;
          }
				}
				.see{
					position: absolute;
			    bottom: 0;
			    font-size: 14px;
			    font-weight: 500;
			    border-bottom: 1px solid;
			    display: inline;
			    width: auto;
			    padding-right: 10px;
          @include sp{
            position: relative;
          }
					&:after{
						content: '';
				    width: 0;
				    height: 0;
				    border-style: solid;
				    border-width: 5px 0 5px 13px;
				    border-color: transparent transparent transparent $wine;
				    display: inline-block;
				    vertical-align: middle;
				    margin-left: 7px;
					}
				}
			}
		}
	}
}


.pagetop{
	height: 100px;
	margin: 100px 0;
	text-align: center;
	cursor: pointer;
	p{
		color: $wine;
    font-family: yu gothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding: 0 18px 0;
    line-height: 18px;
	}
	.arrow{
		content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-top: 5px solid $wine;
    border-right: 5px solid $wine;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 10px auto;
	}
}

@media (max-width: 980px){
	html{
		min-width: 100%;
	}
	.mv{
    margin-top: 71px;
	}
	.sub-menu{
		ul{
			width: 100%;
	    justify-content: space-between;
	    flex-wrap: wrap;
			a{
				margin: 20px 0;
				width: 50%;
				text-align: center;
				li{
					display: inline-block;
				}
			}
		}
	}
	.article-main{
		width: 90% !important;
    margin: 0 auto !important;
		article{
    	width: 100% !important;
		}
	}

	.header-title{
		h1{
			padding-left: 0;
	    float: none;
		}
	}


	/**
	** GLOBAL
	**/

	.global{
		.article-main .sub-menu{
			flex-direction: column;
    	line-height: 22px;
		}
		.article-main .wrp{
		   width: 90%;
		}
	}
}

/*
** internet
**/

main{
	h3 span:before,main h3 span:after{content: none;}
	.two-column .box{
		width: 48%;
		&.flow{
			display: block;
			text-align: center;
			background: $wine;
			color: #fff;
			font-size: 2rem;
			font-weight: bold;
			line-height: 90px;
			&:after{
				content: '';
			}
		}
	}
}

@media all and (-ms-high-contrast: none){

}
