// compileCompact: $1.css
@charset "utf-8";

@import "./_parts";

@include mq-up() {
  html {
    font-size: 75%;
  }
}
// ===== sub.cssの共通化 =====
/*@include  mq-down() {
  header .lower.-open {
    overflow-y: scroll;
  }
}*/
main {
  @include mq-down() {
    width: 100%;
    overflow: hidden;
  }
  section {
    @include mq-down() {
      margin: 0 2rem;//margin: 5rem 2rem 0;
      +section {
        margin-top: $font-size * 2;
      }
    }
    margin-top: 8rem;
  }
  font-size: 1.4rem;
  line-height: 1.5;
  *, ::before, ::after {
    box-sizing:border-box;
  }
  p {
//    font-size: 1.6rem;
  }
  .sc_color {
    color: $sc_color;
  }
  h2,h3 {
    font-family: $mincho;
  }
  h3,h4,h5 {
    span {
    	display: block;
    	font-size: 0.5em;
    	letter-spacing: 0.075em;
    	line-height: 2;//line-height: 3rem;
    	font-weight: 700;
    	font-family: $gothic;
      &:before,
      &:after {
        content: '';
        width: 0.75em;
        height: 0.075em;
        background-color: #333;
        display: inline-block;
        vertical-align: super;
      }
      &:after {
        margin-left: 0;
      }
      &:before {
        margin-right: 0.5rem;
      }
    }
  }

  h2 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: 0.075em;
    +p{
      font-family: $mincho;
  //    font-size: 1.2rem;
      line-height: 1.8333;
      text-align: center;
    	margin-bottom: 6rem;//margin-bottom: 5rem;
    	margin-top: 4rem;//margin-top: 2rem;
    }
    &:last-child {
      margin-bottom: 5rem;
    }
  }
  h3 {
    color: $sc_color;
    font-weight: 500;
    font-size: 2.4rem;
//    border-left: 5px solid $sc_color;
//    padding-left: 1rem;
    &+* {
      margin-top: 2rem
    }
    span {
      &:before,
      &:after {
        background-color: $sc_color;
      }
    }
  }
  h4 {
    font-weight: 700;
    position: relative;
    font-size: 2.2rem;//font-size: 2.4rem;
    line-height: 1.36;//line-height: 1.5;
    padding: 0.5em 0;
    display: inline-block;
//    height: auto;
  }
  h5 {
    font-weight: 700;
    font-size: 2rem;//font-size: 1.4rem;
    margin: 0 auto 2rem;//margin: 0 auto 5rem;
    display: inline-block;

    line-height: 2;
    text-align: center;
    border-bottom: 2px solid $sc_color;
  }

  .sub-menu {
//  	font-size: 1.5rem;
  	font-family: $mincho;
  	font-weight: 500;
  	display: flex;
  	justify-content: center;
//  	margin: 5rem auto;
  	>* {
  		margin: 0 3rem;
  	}
  	a {
  		&:hover,
  		&.current {
  			color: $sc_color;
  			border-bottom: 1px solid $sc_color;
  			padding-bottom: 0.5rem;
  			transition-duration: .3s;
  		}
  	}
  	ul {
  		display: flex;
  		width: 100%;
  			max-width: 90rem;
  			margin: 5rem auto;
  			justify-content: space-between;
  		}
  		li {
  		font-family: $mincho;
  			font-weight: bold;
  			letter-spacing: 0.1333em;
  			transition-duration: 0.3s;
  		&:hover {
  			color: $sc_color;
  			border-bottom: 2px solid $sc_color;
  			transition-duration: 0.3s;
  		}
  		&.-current {
  			color: $sc_color;
  			border-bottom: 2px solid $sc_color;
  			padding-bottom: 0.5rem;
  		}
  		}
  		@include mq-down() {
//  		flex-direction: column;
  			line-height: 1.467;
  		//width: 100%;
  		//justify-content: space-between;
  		flex-wrap: wrap;
  		a {
  		  margin: 1rem; //margin: 2rem 0;
  		 // width: 50%;
  		  text-align: center;
  		  li {
  		    display: inline-block;
  		  }
  		}
  	}
  }

  .color_box {
    background-color: #ededed;
    padding: 2rem;
  }

  .wrp {
    width: 74rem;
    margin: 0 auto;
  }
  @include mq-down() {
    .wrp {
    	width: 90%;
    }
  }
  .article-main {
    >* {
  //    width: 100%;
      max-width: 74rem;
      margin: 0 auto;
      @include mq-down() {
        width: 100%;
      }
    }
  }
  .two-column {
    h4 {
//        color: #333;
        position: relative;
//        line-height: 1.36;
        height: auto;
//        font-family: $gothic;
//        font-size: 2.2rem;
//        font-weight: 700;
        margin: 0 0 2rem;
        padding-top: 0;
        display: inline-block;
    }
    .box {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 2.5rem;
      padding-bottom: 2.5rem;
      border-bottom: 1px solid #333;
      @include mq-up() {
        &.frset {
          display: block;
          .text {
            width: 100%;
            padding-right: 0;
          }
          &.reverse .text {
            padding-right: 2rem;
            padding-left: 0;
          }
        }
        &.reverse {
          &::before {
            right: -19rem;
            left: inherit;
          }
          &[class*="column"] {
            left: inherit;
            right: -#{$row/2};
            >* {
              margin-left: inherit;
              margin-right: $row;
            }
          }
          flex-direction: row-reverse;
          .text,
          .follow {
            border-right: 5px solid $sc_color;
            border-left: 0;
          }
          .text:only-child {
            padding-right: 2rem;
            padding-left: 0;
          }
        }
      }
      @include mq-down() {
        // flex-wrap: wrap;
        flex-direction: column-reverse;
        &.frset {
          flex-direction: column;
          .fl,.fr {
            float: none;
          }
        }
      }
/*      &:before {
        content: '';
        width: 25rem;
        height: 17rem;
        background: #f7f7f7;
        z-index: -1;
        position: absolute;
        left: -19rem;
        top: 2rem;
      }*/

      &:hover > span {
        opacity: 1;
        transition-duration: 0.3s;
      }
    }
    .image {
      @include mq-down() {
        width: 100%;
//        img {
//          width: 100%;
//        }
      }
      @include mq-up() {
        width: 34%;
        max-width: 27.2rem;
        &.fl,&.fr {
          width: 35.1%;
          max-width: 27.2rem;
        }
        img {
          width: 100%;
        }
      }
    }
    .text,
    .follow {
      border-left: 5px solid $sc_color;
      padding-left: 2rem;
//      text-align: left;
      em {
        text-decoration: underline;
        font-weight: 900;
      }
    }
    .follow {
      @include mq-down() {
        >:not(:first-child) {
          margin-top: 3rem;
        }
      }
      h4 {
        font-size: 2rem;
        margin-bottom: 0;
        @include mq-up() {
          min-height: 5.75rem;
        }
        + p {
          min-height: 10.25rem;
          margin: 1rem 0;
        }
      }
      >* {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        >* {
          width: 100%;
        }
      }
    }
    .text {
      width: 59.45%;
      padding-right: 2rem;
      flex-grow: 2;
      @include mq-down() {
        width: 100%;
          >h4 {
            margin-top: 1em;
          }
      }
      &:only-child {
        padding-right: 0;
      }
    }
    p,ul,ol,dl,th,td {
      font-weight: 700;
//    			font-weight: bold;
//    			line-height: 26px;
//    			text-align: left;
//    			letter-spacing: -1px;
//        width: auto;
//        margin-bottom: 0;
      }
    }
    .voice {
      h2 {
        width: 100%;
        margin: auto;
        color: $sc_color;
        font-family: $gothic;
        text-align: left;
        font-size: 2.8rem;
        line-height: 1;
        padding-bottom: 5rem;
        font-weight: 700;
      }
      .box {
        border-bottom: 0 solid transparent!important;
        &::before {
          content: "";
          top: 2rem;
          z-index: -1;
          position: absolute;
          width: calc(100vw - 72rem / 2);
          left: 0;
          height: 100%;
          @include mq-down() {
            width: 100%;
          }
          background: #f7f7f7;//変更による追記
          width: 100%;//変更による追記
        }
      }
      .text {
        border-left: 0;
      }
      @include mq-down() {
        .image img {
          margin-top: -5rem;
          transform: scale(0.9);
        }
      }
      .media_image {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .media {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        height: 100%;
        justify-content: center;
        align-items: center;
        @include mq-down() {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          .see {
            filter: drop-shadow(0 0 0.5em #fff);
            >a {
              margin-left: 0;
              filter: drop-shadow(0 0 0.5em #fff);
            }
          }
        }
      }
    }
    @include mq-up() {
      .flex_pc[class*="column"] {
        max-width: #{$row + 74};
      }
      .fl {
        margin: 0 2em 2em 0;
      }
      .fr {
        margin: 0 0 2em 2em;
      }
      display: block;
    .voice {
    	margin-bottom: 5rem;
    	margin-top: 5rem;
//      max-width: 74rem;
      .box {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 0;//margin-bottom: 2.5rem;
        padding-bottom: 0;//padding-bottom: 2.5rem;
        .text {
          width: 75%;//width: 60%;
          max-width: 55.5rem;//44rem;
          padding-left: 2rem;
        }
        .image,
        .media_image {
          &:first-child {
            width: 59.45%;
            max-width: inherit;
            +.detail {
              max-width: inherit;
            }
          }
          &:last-child {
            position: relative;
            height: 100%;
            width: 100px;
            img {
               position: absolute;
               bottom: -5rem;
               left: 0;
           }
          }
        }
      }
      @include mq-down() {
        flex-direction: row!important;
      }
    }
    .text {
      border: none;
      @include mq-down() {
        padding-left: 0;
      }
    }
    h3 {
      line-height: 4rem;
    }
//    .text{
//      p {
//        font-family: $mincho;
//        font-size: 1.3rem;
//      }
//    }
    .name {
      line-height: 2.31;
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 5rem;
      @include mq-down() {
        line-height: 2.2rem;
        display: block;
        width: 8rem;
        margin: 7rem auto 5rem;
      }
    }
    .two-column {
    	border: none;
    	padding-bottom: 0;

      @include mq-down() {
      	display: flex;
      	flex-direction: row;
      	flex-wrap: wrap;
      }
      .detail {
      	color: $sc_color;
        text-align: center;
//      	position: relative;
        display: flex;
        flex-grow: 2;
//        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-end;
      	height: 100%;
        width: 13.5%;
      	max-width: 10rem;
        @include mq-down() {
        	display: block;
        	height: 7rem;
        	width: 50%;
        	text-align: center;
        }
        >p {
          font-weight: 500;
          white-space: nowrap;
        }
      }
    }
  }
  .see {
//      border-bottom: 1px solid;
    display: inline;
    width: auto;
    text-align: center;
//      padding-right: 1rem;
    >a[href] {
      display: block;
      color: $sc_color;
      position: relative;
      padding-top: 4rem;
    	transition-duration: .3s;
    	padding-bottom: 0.7rem;
      @include mq-down() {
        transform: scale(0.7);
        margin-left: 2rem;
      }
      &:hover {
      	color: $sc_color;
      	border-bottom: 1px solid $sc_color;
      	padding-bottom: 0.5rem;
      	transition-duration: .3s;
        opacity: 0.5;
      }
      &::before,
      &::after {
        content: "";
        font-size: 1rem;
        display: block;
        position: absolute;
      }
      &::before {
        left: calc(50% - 3.45em);
        top: 0;
        width: 6.9em;
        height: 3em;
        background-color: $sc_color;
      }
      &::after {
        left: calc(50% - 0.9em);
        top: 0.6em;
        width: 0;
        height: 0;
        border-left: 1.8em solid #fff;
        border-top: 0.9em solid transparent;
        border-bottom: 0.9em solid transparent;
      }
    }
//    @include mq-down() {
//      position: relative;
//      &:after {
//        content: '';
//        width: 0;
//        height: 0;
//        border-style: solid;
//        border-width: 0.5rem 0 0.5rem 1.3rem;
//        border-color: transparent transparent transparent $sc_color;
//        display: inline-block;
//        vertical-align: middle;
//        margin-left: 0.7rem;
//      }
//    }
  }
}
.image img {
  width: 100%;
}
.article-main {
  h5:first-child {
    text-align: center;
    display: block;
  }
  .mincho {
    font-family: $mincho;
  }
  >:not(:first-child) {
      margin-top: 2rem;
  }
  >:not(:last-child) {
      margin-bottom: 5rem;
  }
//  h2 {
//  	font-size: 2.9rem;
//  	color: $sc_color;
//  	letter-spacing: 2em;
//    font-family: $mincho;
//  	text-align: center;
//  	border-top: 4px solid $sc_color;
//  	border-bottom: 4px solid $sc_color;
//  	line-height: 5rem;]
//  }
  article {
    width: 100%;
  	max-width: 96rem;
  	margin: 0 auto;
    text-align: center;
    //font-size: 1.2rem;
    line-height: $line-height;
  }
}

.flex_pc.history {
  width: 100%;
  @include mq-up() {
    &[class*="figure_circle"]>:not(:nth-child(-n+2))::before {
      margin-top: 2.25em;
    }
    &.figure>:not(:nth-child(-n+2))::before {
      margin-top: 1.5em;
    }
  }
  >* {
    padding: 0 0 0 2em;
    @include mq-up() {
      &:not(:nth-child(-n+2)) {
        margin-top: 1.5em;
        padding-top: 1.5em;
        border-top: 1px solid #ccc;
      }
    }
  }
  @include mq-up() {
    >dt {
      flex-basis: 20rem;
      max-width: 20rem;
    }
    >dd {
      flex-basis: calc(100% - 20rem);
      max-width: calc(100% - 20rem);
    }
  }
  @include mq-down() {
    &[class*="figure"] {
      >dt {
        padding-left: 1.75em;
        &::before {
          top: 1.75em;
        }
      }
    }
    >dt {
      border-top: 1px solid #ccc;
      padding: 1em 0;
    }
    >dd {
      padding: 0 0 1em 0;
      .image {
        margin-top: 1rem;
      }
    }
  }
}


@include mq-down() {
	html {
		min-width: 100%;
	}
}

.see.fr {
  position: absolute;
  float: none;
  z-index: 2;
  @include mq-up() {
    right: calc(50% - 37rem);
  }
  @include mq-down() {
    right: 0;//right: $font-size;
    +h3 {
      width: calc(100% - 8rem);
    }
  }
}




// !================= sub.cssからの移植・改造  =================

/*
** 2.Common style
*/







.mv {
//	height: 43rem;
	margin-top: 20rem;//margin-top: 16rem;
//	margin-bottom: 6rem;
//	background-size: cover;
//	background: dimgray;
//	position: relative;
//	padding: 6rem 0;
  text-align: center;
  color: #9e9e9e;
  font-family: $mincho;
  h1 {
  	font-size: 2.5rem;
    line-height: 2;
  	letter-spacing: 0.1667em;
    color: $sc_color;//  	color: #fff;
    display: inline;
//  	position: absolute;
//  	top: 0;
//  	bottom: 0;
//  	margin: auto;
//  	text-align: center;
//  	height: 3rem;
//  	width: 100%;
  }
  @include mq-down() {
    margin-top: 9.1rem;//margin-top: 7.1rem;
    + section {
        margin-top: 3rem;
    }
  	h1 {
    	padding-left: 0;
    	float: none;
    }
	}
  &.header-title {
//  	background: none;
  //	height: 12rem;
  //	margin-bottom: 0;
    h1 {
//    	position: relative;
//    	height: auto;
    	border-bottom: 1px solid $sc_color;
    }
    p {
      font-size: 1.2rem; //font-size: 2.2rem;
      line-height: 1.8;//line-height:.8;
    }
  }
}



.two-column {
	text-align: left;
	display: flex;
  width: 100%;
	max-width: 74rem;
//	margin: 0 auto;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	@include mq-down() {
		width: 100%;
		flex-direction: column;
	}
//	.box {
//		width: 48%;
//    @include mq-down() {
//      width: 100%;
//    }
//	}
	p {
//		font-family: $gothic;
		line-height: 2.6rem;
	}
}
.modal_win {
  video + p:last-child {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
  }
}












/****
**** PROGRAM
***/



.-hover {
	background: #7c7c7c !important;
	color: #fff !important;
	transition-duration: .3s !important;
  &::before {
    border-top-color: #7c7c7c!important;
  }
  >.subwin {
    display: flex;
    flex-direction: column;
    opacity: 1;
  }
}
.subwin {
  opacity: 0;
  display: none;
  transition-duration: 0.3s;
  color: #333;
  writing-mode: horizontal-tb;
  font-family: $gothic;
  text-align: left;
  width: 30rem;
//  min-height: 40rem;
  border: 1px solid $sc_color;
  background-color: #fff;
  padding: 3rem;
  position: absolute;
  z-index: 1;
  top: 0;
  p {
//    font-size: 1.2rem;
    line-height: 1.75;
  }
}
#j-application {
  .article-main {
//  	width: 80rem;
//  	margin: 0 auto;
//    @include mq-down() {
//    	width: 100%;
//    }
    article {
    	width: 100%;
    }
    .box.column2 {
      @include mq-up() {
        max-width: 74rem;
        left: -2rem;
      }
  //    h4 {
  //    	color: $sc_color;
  //    	position: relative;
  //    	line-height: 6rem;
  //    	height: auto;
  //    	display: inline;
  //      font-family: $mincho;
  //    	font-size: 2.4rem;
  //    	font-weight: bold;
  //    }
      p {
      	background-color: #ededed;
//      	font-size: 1.4rem;
      	padding: 2rem;
      	line-height: 1.4285;
//      	font-family: $gothic;
//      	font-weight: 500;
      }
  	}
    .three-column {
    	text-align: left;
    	display: flex;
    	width: 74rem;
    	margin: 5rem auto 0;
    	justify-content: space-between;
    	border-bottom: 1px solid #333;
    	padding-bottom: 5rem;
      @include mq-down() {
      	flex-direction: column;
      	width: 100%;
      }
      .box {
        background: $sc_color;
        width: 32%;
        position: relative;
        @include mq-down() {
          	width: 100%;//width: 24rem;
          	position: relative;
          	margin: 2rem auto;
          	padding-bottom: 3rem;
        }
        &::after {
        	content: '';
        	width: 0;
        	height: 0;
        	border-style: solid;
        	border-width: 0 3rem 3rem 0;
        	border-color: transparent #fff transparent transparent;
        	position: absolute;
        	top: 0;
        	right: 0;
        }
        .title {
        	background: #fff;
        	margin: 3rem 0 0 0;
        	padding-left: 2rem;
        	line-height: 4rem;
        	font-size: 2.2rem;
        	font-weight: bold;
        	color: $sc_color;
        	display: inline-block;
        	position: relative;
          &::after {
          	content: '';
          	width: 0;
          	height: 0;
          	border-style: solid;
          	border-width: 4rem 0 0 4rem;
          	border-color: transparent transparent transparent #fff;
          	position: absolute;
          	top: 0;
          	right: -4rem;
          }
        }
        .sub-title {
        	color: #fff;
        	font-weight: bold;
        	font-size: 1.6rem;
        	padding: 2rem;
        }
        p {
        	color: #fff;
//          font-size: 1.2rem;
//        	font-family: $gothic;
        	font-weight: bold;
//        	padding: 0 1.8rem 0;
          margin: 0 1.8rem 1.8rem;
//        	line-height: 1.285;
        }
      }
    }

    .img-list {
    	border-bottom: 1px solid #333;
    }
  }
  @include mq-up() {
    .ofx_s {
      overflow-x: inherit;
    }
  }
  .flow {
//    width: 80rem;
  	display: flex;
//  	flex-wrap: wrap;
    flex-direction: row;
  	font-weight: bold;
    justify-content: space-between;
    @include mq-down() {
      width: 74rem;
    }
	  //padding: 0 3rem; //padding: 0 1rem;
    font-size: 1.7rem;
    .left>*,
    .block>* {
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      text-orientation: upright;
      display: flex;
      justify-content: center;
      font-family: $mincho;
      transition-duration: .3s;
    }
    .block {
    	-webkit-writing-mode: vertical-rl;
    	-ms-writing-mode: tb-rl;
    	writing-mode: vertical-rl;
    	text-orientation: upright;
      display: flex;
      justify-content: space-between;//flex-direction: column-reverse;
    }

    .head {
      text-align: center;
      font-family: $mincho;
    	font-size: 2rem;
    	height: 6rem;
    	line-height: 1.3;
    }

    .lower,
    .upper {
      :not(.arrow) {

      }
      display: flex;
    //        flex-wrap: wrap;
      flex-direction: column-reverse;
      justify-content: space-between;
      height: 63.3rem;
      span {
        font-size: 0.77em;
      }
      >* {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 2rem;
        &::before {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          bottom: -2rem;
          right: 0;
          border-top: 2rem solid;
          transition-duration: .3s;
        }
      }
      .hs1 {
        height: calc(33% - 2rem);
      }
      .hs1-2 {
        height: calc(67% - 2rem);
      }
      .long {
        background: #d9d9d9;
        height: 40rem;
      }
      .blank {
        opacity: 0;
      }
      .jh2-3 {
        height: calc(67% - 2rem);
        margin-top: 33%;
      }
      .jh1-5 {
        height: calc(167% - 1.5rem);
      }
    }
    .upper {
      z-index: 1;
    }
    .lower {
      margin-top: 0.8rem;
      >* {
        width: 28.5%;
//        height: 62rem;
        //font-size: 1.7rem;font-size: 1.4rem;
//        line-height: 3.333;
//        text-align: left;
//        padding-top: 1.5rem;
        background: #f1e8ed;
//        	margin: 0 0.7rem;
      }
    }
    .lane {
    	display: flex;
    	flex-direction: column;
    	margin-top: 2.5rem;
    }

    .sixyear {
      z-index: 2;
//    	display: flex;
//    	flex-direction: column;
    	padding-left: 1.7rem;
      width: 33%;
//    	max-width: 23.9rem;//width: 22.5rem;
      .block {
        padding: 0 0.6rem;
      }
      .upper {
//      	width: 100%;
//      	font-size: 2rem;
        position: relative;
        >* {
//        	flex-wrap: wrap;
        	width: 47.5%;
//        	display: block;
//        	letter-spacing: 0;
//        	line-height: 9.2rem;
        	background: #e5e5e5;
//        	margin: 0 1rem;
          &::before {
            border-top-color: #e5e5e5;
            border-left: 4.95rem solid transparent;
            border-right: 4.95rem solid transparent;
          }
        }
        [class*="arrow"] {
          position: absolute;
          width: auto;
          height: 9.5rem;
          left: 14.25%;
          right: 14.25%;
          bottom: -2rem;
          border: solid #80244e;
          background-color: transparent!important;
          border-width: 1px 1px 0;
          z-index: 1;
          align-items: flex-end;
          >i {
            display: block;
            width: calc(50% - 0.5px);
            height: 100%;
            border-right: 1px solid #80244e;
            position: relative;
          }
          >i::before,
          &::before,
          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1.5rem;
            border-top: 1.5rem solid #80244e;
            border-left: 0.25rem solid transparent!important;
            border-right: 0.25rem solid transparent!important;
          }
          >i::before,
          &::before {
            right: -0.35rem!important;
          }
          &::after {
            left: -0.35rem;
          }
        }
      }
      .lower {
        width: 100%;
        div {
          &::before {
            border-top-color: #f1e8ed;
            border-left: 2.95rem solid transparent;
            border-right: 2.95rem solid transparent;
          }
        }
      }
    }
    .global-education {
      width: 48.64%;
      max-width: 36rem;
      border-left: 1px dashed $sc_color;
      margin-left: 0;
      padding: 0 0.6rem;
      .upper,
      .lower {
      	position: relative;
        >* {
          width: 10%;
  //        height: 62rem;
  //      	height: 63.3rem;
  //      	margin-left: 1.3rem;
  //      	position: relative;
          &::before {
            border-left: 1.75rem solid transparent;
            border-right: 1.75rem solid transparent;
          }
        }
      }
      .upper {
        >* {
          background: #d9d9d9;
          &::before{
            border-top-color: #d9d9d9;
          }
          &.grade {
            background-color: transparent!important;
            >ul {
              display: flex;
              justify-content: space-between;
              width: 100%;
              height: 100%;
              >* {
                background-color: #d9d9d9;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                width: 100%;
                height: 33%;
              }
            }
            &.-hover {
              >ul>* {
                background-color: #7c7c7c!important
              }
            }
          }
        }
      }
      span {
//      	font-size: 1.4rem;
      	font-weight: 700;
      }
      .lower {
        >* {
        	background: #f1e8ed;
          &::before {
            border-top-color: #f1e8ed;
          }
        }
      }
    }
    .stem {
    	padding-left: 0.2rem;
    	border-left: 1px dashed $sc_color;
      z-index: -1;
      .block {
//      	display: flex;
//      	flex-direction: row;
      	width: 8rem;
        padding: 0 0.6rem;
      }
      .upper,
      .lower {
        >* {
          position: relative;
        	width: 100%;//width: 65px;
        	//font-size: 17px;
          &::before {
            border-left: 3.4rem solid transparent;
            border-right: 3.4rem solid transparent;
          }
        }
//        text-align: left;
//        padding-top: 1.5rem;
//        margin-left: 0.8rem;
      }
      .upper {
        >* {
      	   background-color: #b2b2b2;
           &::before {
             border-top-color: #b2b2b2;
           }
        }
      }
      .lower {
        >* {
      	   background-color: #d4bbc7;
           &::before {
             border-top-color: #d4bbc7;
           }
        }
      }
    }
    .left {
      font-family: $mincho;
    	display: flex;
    	flex-wrap: wrap;
      justify-content: space-between;
    	width: 6.7567%;
      max-width: 5rem;
    	line-height: 2rem;
    	font-size: 1.4rem;
//    	margin-left: 2.5rem;
    	margin-top: 8.6rem;
      >* {
        width: 44%;
      }
      .large {
        display: flex;
        align-items: center;
      	width: 45%;
        max-width: 2.25rem;
      	height: 42rem;
      	background: #ededed;
      	color: $sc_color;
//      	margin-right: 5rem;
      }

      .small {
      	display: flex;
//      	flex-wrap: wrap;
//      	flex-direction: column;
//      	width: 2rem;
        width: 45%;
        max-width: 2.25rem;
        div {
        	background: #b37b94;
        	color: #fff;
          width: 100%;
        	height: 20.6rem;
        	letter-spacing: 0.7rem;
        	margin-bottom: 0.8rem;
        	padding: 5rem 0;
        	letter-spacing: 0;
        }
      }
    }
  }
  .comment {
    text-align: center;
    .title {
      font-family: $mincho;
    	font-size: 2.9rem;
    	font-weight: bold;
    	letter-spacing: 0.5rem;
    	margin: 10rem auto 0;
    	text-align: center;
    	width: 100%;
    	color: $sc_color;
    	position: relative;
    	line-height: 3rem;
    	height: auto;
      @include mq-down() {
        +img {
          width: 90%;
          max-width: 357px;
          margin: auto;
        }
      }
    }
    .slider {
      .owl-item:not(.center) {
        opacity: 0.5;
      }
      &.owl-carousel {
        .owl-item {
          float: none;
        }
        .owl-stage {
          display: flex;
        }
        .owl-stage-outer {
          padding-top: 2rem;
          margin-top: 0;
        }
      }
      .voice {
        @include mq-up() {
          width: 100%;
//          height: 100%;
          max-width: inherit;
          padding: 0 2rem;
        }
        .two-column {
          width: 100%;
          height: 100%;
          .box {
            &::before {
              width: 100%;
              background-color: #f2e9ed;
            }
          }
        }
        h3+p {
          margin-top: 2rem;
          color: $sc_color;
        }
      }
      @include mq-down() {
        .box {
          padding: 1em;
        }
      }
      .image {
      	position: relative;
        @include mq-up() {
      	  width: 10rem;
         	height: 100%;
        }
        @include mq-down() {
        	height: auto;
        	margin-right: 15%;
        }
        img {
          @include mq-up() {
          	position: absolute;
          	bottom: -5rem;
          	left: 0;
          }
          @include mq-down() {
          	position: relative;
          	bottom: 0;
          }
        }
      }
      .image {
        position: relative;
        height: 100%;
        width: 13.5%;
        max-width: 10rem;
        img {
            position: absolute;
            bottom: -5rem;
            left: 0;
        }
      }
//      img {
//      	width: 58rem!important;
//      	margin: 0 auto;
//        @include mq-down() {
//        	width: 100% !important;
//        }
//      }
    }
    @include mq-down() {
    	.owl-carousel {
      	width: 90%;
      	margin: 5rem auto;
      }
    }
  }

  .owl-nav {
  	width: 50%;
  	margin: 0 auto;
  	position: relative;
    @include mq-down() {
    	display: none;
    }
    @include mq-up(xxl) {
    	display: block;
      width: 34%;
    }

    .owl-prev,
    .owl-next {
    	position: absolute;
    	bottom: 20rem;//bottom: 13rem;
      &::after {
      	content: '';
      	display: block;
      	width: 1.5rem;
      	height: 1.5rem;
      	border-top: 2px solid $sc_color;
      	border-right: 2px solid $sc_color;
      	-webkit-transform: rotate(225deg);
      	transform: rotate(225deg);
      }
    }
    .owl-prev {
    	left: 0;
      &::after {
      	-webkit-transform: rotate(225deg);
      	transform: rotate(225deg);
      }
    }

    .owl-next {
    	right: 0;
      &::after {
      	-webkit-transform: rotate(45deg);
      	transform: rotate(45deg);
      }
    }
  }
  .owl-dot {
  	border: 1px solid $sc_color !important;
  	border-radius: 50%;
  	width: 0.5rem;
  	height: 0.5rem;
  	margin: 2rem 0.8rem;
    &.active {
    	background-color: $sc_color !important;
    }
  }
  .subwin {
    right: -36rem;
    @media screen\0 {//IE例外
      right: -30rem;
    }
    @supports (-ms-ime-align: auto) {//Edge例外
      right: -30rem;
    }
    &.reverse {
        left: -23.75rem;
        right: inherit;
        @media screen\0 {//IE例外
          left: -30rem;
        }
        @supports (-ms-ime-align: auto) {//Edge例外
          left: -30rem;
        }
    }
  }
}


/********
*** CLUB
********/


#club {
  .article-main {
    //text-align: center;
//    width: 100%;
//    margin: 0 auto;
//    article {
//    	width: 74rem;
//    	margin: 0 auto;
//    }
  	.sub-menu {
//  		font-weight: 500;
//  		display: flex;
//  		justify-content: space-evenly;
//  		margin: 50px auto;
//  		width: 330px;
  		a {
  			transition-duration: .3s;
  			padding-bottom: 0.7rem;
  			&:hover {
  				color: $sc_color;
  				border-bottom: 1px solid $sc_color;
  				padding-bottom: 0.5rem;
  				transition-duration: .3s;
  			}
  		}
  	}

    p {
//      font-family: $mincho;
//    	font-size: 1.2rem;
//    	text-align: center;
    	font-weight: bold;
    }


    .box {
      margin-top: 5rem;
      background: #e5e5e7;
      position: relative;
      padding: 2.5rem;//padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @include mq-down() {
        width: 100%;
        padding: 0 0 0 0.5rem;
      }
    }
  }
  #sports {
  	background: #f6f6f6;
  	position: relative;
  	margin-bottom: 10rem;
  	padding-bottom: 5rem;
    @include mq-down() {
    	width: 31rem !important;
    	margin: 5rem auto 5rem !important;
    }
  }
  #culture {
//  	background: #f6f0f4;
  	position: relative;
  	padding-bottom: 5rem;
    @include mq-down() {
    	width: 31rem !important;
    	margin: 0 auto 5rem !important;
    }
  }
}

.club-column {
  width: 100%;
  max-width: 74rem;
  margin: auto;
  position: relative;
  display: flex;
  @include mq-up() {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include mq-down() {
    flex-direction: column;
  }
  .box {
    width: 48%;
    min-height: 22rem;
    margin-top: 5rem;
    background: #e5e5e7;
    position: relative;
    padding: 0 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &:hover span {//&:hover > span {
      opacity: 1;
      transition-duration: 0.3s;
    }
  }
  h3 {
    font-size: 2.8rem;
    color: #fff;
    background: $sc_color;
    letter-spacing: 0.5em;
    padding: 1rem;
    padding-left: calc(1rem + 0.5em);
    position: absolute;
    left: -2rem;
    top: -2rem;
    @include mq-down() {
      left: 0;
    }
//    		font-family: $mincho;
//    		font-weight: 500;
//    		border-left: 5px solid $sc_color;
//    		padding-left: 10px;
//    		display: inline-block;
  }
  h4 {
//    font-family: $gothic;
//    color: #333;
//    font-size: 2.2rem;
//    line-height: 1.25;
    padding: 1em 0;
  }
  @include mq-up() {
    * {
      width: 20rem;
    }
  }
  p {
//    font-size: 1.6rem;
    line-height: 1.625;
    font-weight: 700;
  }
  @include mq-down() {
    .text {
      >h4,p{
        width: 18rem;
      }
    }
  }
  img {
    max-height: 29rem;
    position: absolute;
    top: -4rem;
    @include mq-up() {
      left: 18rem;
    }
    @include mq-down() {
      left: 13rem;
      transform: scale(0.83);
    }
  }
  span {
    opacity: 0;
    transition-duration: 0.3s;
    width: 14rem;
    background: rgba(145, 29, 77, 0.9);
    color: #fff;
    display: inline-block;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    position: absolute;
    z-index: 1;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      position: inherit;
      opacity: 0.9;
    }
    @include mq-up() {
      top: -4rem;
      right: -13rem;
      &:before {
        border-width: 0 0 1.6rem 2rem;
        border-color: transparent transparent $sc_color transparent;
        left: -2rem;
        bottom: 2rem;
      }
    }
    @include mq-down() {
      top: -10rem;
      right: 0;
      &:before {
        border-width: 0 0 2rem 1.6rem;
        border-color: transparent transparent transparent $sc_color;
        right: 2rem;
        bottom: -2rem;
      }
    }
  }
  @include mq-up() {
    [src*="/images/school-life/sports2"]+span {
      top: 2rem;
      right: -16rem;
    }
    [src*="/images/school-life/sports5"]+span {
      top: 2rem;
    }
    [src*="/images/school-life/sports6"]+span {
      top: 0rem;
    }
    [src*="/images/school-life/sports7_1"]+span {
      top: 3rem;
    }
    [src*="/images/school-life/sports7_3"]+span {
      top: 2rem;
    }
    [src*="/images/school-life/sports8"]+span {
      top: 2rem;
    }
    [src*="/images/school-life/sports9_2"]+span {
      top: 0rem;
    }
    [src*="/images/school-life/sports11"]+span {
      top: 2rem;
      right: -11rem;
    }
    [src*="/images/school-life/culture9"]+span {
      right: -17rem;
    }
    [src*="/images/school-life/culture10"]+span {
      top: 0rem;
    }
  }
}

/********
*** GLOBAL
********/

#global {
  .article-main {
    h4 {
//      font-family: $gothic;
//      line-height: 1.36;
//      font-size: 2.2rem;
//      color: #333;
//      font-weight: 700;
      margin: 0 0 2rem;
//      height: auto;
    }
    p {
//      font-weight: 700;
//      text-align: left;
//      width: 20rem;
    }
    .fr:not(.see) {
      font-family: $gothic;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.667;
      text-align: right;
      margin: 0 0 1em;
      transform: scale(0.9);
      @include mq-down() {
        float: none!important;
        display: inline-block;
        line-height: 1.4rem;
        br {
          display: none;
        }
      }
      +p {
        margin-top: 0;
      }
    }

    p {
//    	font-size: 12px;
//    	text-align: center;
//    	font-weight: bold;
    }
    h3 {
    	font-size: 2.3rem;
//      font-family: $mincho;
//    	color: $sc_color;
//    	font-weight: 500;
//    	border-left: none;
//    	letter-spacing: 0.075em;
//    	text-align: left;
//    	padding-left: 0;
    }
  	.box {
/*  		width: 100%;
  		position: relative;
  		display: flex;
  		justify-content: space-between;
  		align-items: flex-start;
  		margin-bottom: 2.5rem;
  		padding-bottom: 2.5rem;
  		border-bottom: 1px solid #000;*/
  		@include mq-down() {
        flex-wrap: wrap;
  			flex-direction: column-reverse;
  		}
  		&:hover > span {
  			opacity: 1;
  			transition-duration: 0.3s;
  		}
  		.image {
  			@include mq-down() {
  				width: 100%;
  				img {
    				width: 100%;
    			}
    		}
    	}
    	h4 {
    		@include mq-down() {
    			margin: 0 0 0.4rem;
    		}
    	}
    }
  }
}

/********
*** 学習支援
********/
#supports {
  @include mq-up() {
    .follow {
      // margin-bottom: -#{$row * 3};
      > * {
        margin-bottom: #{$row * 3};
      }
    }
    .dummy {min-height: 143px;margin: 0;} //後日消去
  }
}
/********
*** 制服
********/
#uniform {
  .flex_pc .clm p {
    margin-top: 2em;
  }
  .uniform {
    position: relative;
    img {
      max-width: 800px;
      margin: auto;
      display: block;
    }
    @include mq-down() {
      &:first-child {
        margin-top: 10rem;
      }
    }
  }
  .fukidashi {
    position: absolute;
    display: block;
    right: 2rem;
    top: -10rem;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background: $sc_color;
    color: #fff;
    transform: rotate(10deg);
/*    &::before,
    >p::before {
      content: "";
      width: 6rem;
      height: 20rem;
    }
    &::before {
      float: left;
      shape-outside: polygon(0% 0%, 0% 100%, 100% 100%, 10% 70%, 10% 30%, 100% 0%);
    }
    >p::before {
      float: right;
      shape-outside: polygon(0% 0%, 90% 30%, 90% 70%, 0% 100%, 100% 100%, 100% 0%);
    }*/
    &::before,
    &::after {
      content: "";
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      border-top: 4.5rem solid $sc_color;
      border-left:  1.25rem solid transparent;
      border-right:  1.25rem solid transparent;
    }
    &::before{
      transform: rotate(30deg);
      right: -0.75rem;
      top: -1rem;
    }
    &::after {
      transform: rotate(70deg);
      right: -2.5rem;
      top: 1rem;
    }
    >p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.25rem;
        width: 100%;
        height: 100%;
        >strong {
          font-family: $mincho;
          font-size: 1.5em;
          display: block;
        }
    }
  }


}

/********
*** 施設紹介
********/
#facilities {
  .cls-1 {
    fill: transparent;
    fill-rule: evenodd;
    &.-hover {
      fill: rgba(255,255,255,0.5);
    }
  }
  [class*="-modal"] {
    display: flex;
    flex-direction: column;
    opacity: 1;
    border: 1px solid $sc_color;
    transition-duration: 0.3s;
  }
  .subwin {
    box-shadow: 0 0 1rem 0.2rem rgba(0,0,0,0.1);
    @include mq-up() {
      right: -35rem;
      left: -35rem;
      &.-modal1 {
        left: auto;
        right: -10%;
      }
      &.-modal2 {
        left: auto;
        right: -20%;//left: -10%;
        //right: auto;
      }
    }
    @include mq-down() {
      right: 1rem;
      left: 1rem;
      top: -17rem;
    }
  }
  .view {
    position: relative;
    align-items: center;
    @include mq-down() {
      flex-direction: column;
    }
    >.image {
      @include mq-up() {
        flex-basis: 512px;
        max-width: 512px;
      }
      position: relative;
    }
    svg {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      @include mq-down() {
        display: none;
      }
    }
  }
  .tltle {
    @include mq-down() {
      display: flex;
      flex-wrap: wrap;
    }
    >* {
//      background-color: $sc_color;
//      color: #fff;
      font-size: 1.4rem;
      line-height: 3;
      text-align: justify;
      text-align-last: justify;
      padding: 0 1em;
      letter-spacing: 0.05em;
      border-top: 1px solid #ccc;
      @include mq-down() {
        flex-basis: 48%;
      }
      @include mq-up() {
        &:first-child {
          border-top-width: 0;
        }
      }
    }
  }
}

/********
*** 学校行事
********/
#events {
  .flex_pc.history {
    @include mq-up() {
      dt {
        flex-basis: 10rem;
        max-width: 10rem;
      }
      dd {
        flex-basis: calc(100% - 10rem);
        max-width: calc(100% - 10rem);
      }
    }
  }
}

/********
*** 進路データ
********/
#carrier {
  .flex_pc.column3 {
    @include mq-up() {
      h4 {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}
.entory_btn {
  margin: 2rem 0;
  position: relative;
  text-align: center;
  >a {
    display: block;
    border: 2px solid $sc_color;
    color: $sc_color;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 25rem;
    margin: auto;
    transition-duration: .3s;
    &:hover {
      background-color: $sc_color;
      color: #fff;
    }
  }
}
.pagetop {
//	height: 10rem;
  @include mq-up() {
  	margin: 5rem 0 7.5rem;//margin: 10rem 0;
  }
  @include mq-down() {
  	margin: 3rem 0;//margin: 10rem 0;
  }
	text-align: center;
	cursor: pointer;
   p {
  	color: $sc_color;
    font-family: $gothic;
  	font-weight: bold;
  	font-size: 1.2rem;
  	padding: 0 1.8rem 0;
  	line-height: 1.8rem;
  }
  .arrow {
  	content: '';
  	display: block;
  	width: 2.5rem;
  	height: 2.5rem;
  	border-top: 5px solid $sc_color;
  	border-right: 5px solid $sc_color;
  	-webkit-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  	margin: 1rem auto;
  }
}
.table_2b {
  width: 100%;
  @include mq-up() {
    border: 1px solid $sc_color;
  }
  tr {
    @include mq-down() {
      border: 1px solid $sc_color;
    }
    text-align: center;
    >* {
      padding: 1em;//padding: 1em 2em;
    }
    &:not(:last-child) {
      @include mq-down() {
        margin-bottom: 0.5rem;
      }
      >* {
        border-bottom: 1px solid rgba(145,29,77,0.3);
      }
    }
  }
  thead th {
    background-color: $sc_color;
    color: #fff;
  }
  tbody th {
    background-color: rgba(145,29,77,0.1);
    @include mq-down() {
      >.th {
        display: none;
      }
    }
  }
}


/*
** internet
**/
#internet main {
  article-main > :not(:last-child) {
    margin-top: 5rem;
    margin-bottom: 0;
  }
  .caution {
    margin-top: 0 !important;
    font-size: 1rem;
    color: red;
    font-weight: bold;
  }
  h4 {
    font-size: 1.8rem;
    @include mq-down() {
      font-size: 1.6rem;
    }
  }
  h3 {
    font-size: 2rem;
    border-left: 5px solid #911D4D;
    padding-left: 10px;
    span:before,span:after {
      content: none;
    }
  }
  .two-column {
    .text {
      height: 146px;
      @include mq-down() {
        border-left: 0;
        padding-left: 0;
      }
    }
    .box {
      width: 48%;
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
      @include mq-down() {
        width: 100%;
      }
      &::before{
      	content:'';
      	width:100%;
      	background:#f7f7f7;
      	z-index:-1;
      	position:absolute;
      	top:1.2rem;
      	left:3rem;
      	right:0;
      	height:11rem;
        @include mq-down() {
        	left:0;
        }
      }
      &.flow {
      	display:block;
      	text-align:center;
      	background-color: $sc_color;
      	color:#fff;
      	font-size:2rem;
      	font-weight:bold;
      	line-height:80px;
      	height:120px;
      	width:420px;
      	margin:0;
      	padding:0!important;
      	position:relative;
      	border:none;
        @include mq-down() {
      		width:100%;
      	}
        &::before,
        &::after {
        	position: absolute;
        	content: '';
        	width: 0;
        	height: 0;
          border-style:solid;
        }
        &::after{
        	border-width: 50px 0 0 210px;
        	border-color: transparent transparent transparent #fff;
        	left: 0;
          bottom: 0;
        }
        &::before {
        	border-width: 0 0 50px 210px;
        	border-color: transparent transparent #ffffff transparent;
        	background: none;
        	right: 0;
        	top: auto;
        	left: auto;
        	bottom: -1px;
        	z-index: 1;
        }
      }
    }
  }
}


/*
** 入試説明会案内
**/
#admissions {
  @include mq-up() {
    .table_2b {
      table-layout: inherit;
      tbody {
        th {
          width: 20%;
          +td {
            width: 20%;
          }
        }
        td {
          width: 60%;
        }
      }
    }
  }
}
