@charset "UTF-8";

/*
** 2.Common style
*/
$inner: 960px;
$wine: #6f294e;

.mv{
  height: 90vh;
  background: url(../images/top/mv.png);
  background-size: cover;
  img{
    position: absolute;
    left: 0;
    bottom: 20vh;
    right: 0;
    margin: auto;
  }
}

.news{
  width: $inner;
  margin: 0 auto;
  display: flex;
  margin-top: -42px;
  .list{
    width: 100%;
  }
  .index{
    background: $wine;
    color: #fff;
    p{
      color: #fff;
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      font-size: 20px;
      width: 165px;
      text-align: center;
      padding: 30px;
    }
  }
  .list{
    background: #fff;
  }
  ul{
    height: 80px;
    border: 1px solid $wine;
  }
  li{
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #6f294e;
    font-size: 14px;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    line-height: 40px;
    &:hover{
      opacity: 0.7;
    }
    &:first-child{
      border-bottom: 1px solid #6f294e;
    }
    a{
      color: $wine;
    }
    span.date{
      padding-right: 10px;
    }
    span.title{
      color: #000;
    }
  }
}

.news-topic{
  padding-bottom: 150px;
  .container{
    width: $inner;
    margin: 0 auto;
  }
	h2{
		font-size: 24px;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    text-align: center;
    margin: 70px auto 40px;
    color: #888888;
	}
  .tab{
    border-bottom: 1px solid #000;
    position: relative;
    a{
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0 auto;
      display: block;
      font-size: 14px;
      background: #fff;
      padding: 8px 20px;
      margin: 0 0 0 6px;
      border: 1px solid #6f294e;
      border-bottom: none;
      transition-duration: 0.3s;
      &:hover{
        opacity: 0.7;
        transition-duration: 0.3s;
      }
      img{
        width: 14px;
        margin-right: 5px;
      }
    }
    ul{
      display: flex;
    }
    li{
      font-size: 14px;
      border: 1px solid #000;
      border-bottom: none;
      height: 30px;
      width: 90px;
      box-sizing: border-box;
      text-align: center;
      line-height: 30px;
      margin-right: 12px;
      transition-duration: 0.3s;
      cursor: pointer;
    }
    .-selected{
      background: #80244e;
      color: #fff !important;
    }
    #tab-all{color: #80244e;&:hover{background: #80244e;color: #fff;}}
    #tab-school{color: #5fb5ec;&:hover{background: #5fb5ec;color: #fff;}}
    #tab-club{color: #dd960f;&:hover{background: #dd960f;color: #fff;}}
    #tab-exam{color: #c50018;&:hover{background: #c50018;color: #fff;}}
    #tab-blog{color: #00984b;&:hover{background: #00984b;color: #fff;}}
    #tab-education{color: #7c589d;&:hover{background: #7c589d;color: #fff;}}
    #tab-other{color: #000;&:hover{background: #000;color: #fff;}}

  }
  .news-list{
    ul{
      flex-wrap: wrap;
      display: flex;
      justify-content: flex-start;
    }
    li{
      width: 235px;
      height: 200px;
      position: relative;
      padding: 5px 0 0 7px;
      margin-left: -2px;
      &:hover{
        opacity: 0.7;
        transition-duration: 0.3s;
      }
    }
    .list-school, .list-club, .list-exam, .list-blog, .list-education, .list-other{
      li{
        display: none;
      }
    }
    .images{
      width: 100%;
      height: 200px;
      overflow: hidden;
      background: #fff;
      img{
        width: 100%;
        object-fit: cover;
      }
    }
    .cat{
      font-size: 14px;
      color: #fff;
      position: absolute;
      padding: 7px 20px;
      &.cat-school{background: #5fb5ec;}
      &.cat-club{background: #dd960f;}
      &.cat-exam{background: #c50018;}
      &.cat-blog{background: #00984b;}
      &.cat-education{background: #7c589d;}
      &.cat-other{background: #000;}
    }
    .detail{
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      position: absolute;
      bottom: 0;
			padding: 10px;
      line-height: 20px;
			.post-title{
				min-width: 215px;
		    min-height: 40px;
			}
    }
  }
}

@media (max-width: 680px){
  main{
    margin-top: 73px;
  }
  .mv{
    width: 100%;
    height: 30vh;
    background-position: center;
    position: relative;
		img{
      bottom: 60px;
      width: 180px;
		}
  }
	.news{
    position: relative;
		width: 90%;
    flex-direction: column;
		.index p{
			width: 100%;
	    padding: 7px 0;
	    font-size: 1.6rem;
		}
	}
	.news-topic{
  h2{
    font-size: 2rem;
    margin: 40px auto;
  }
		.container{
    	width: 90%;
		}
		.tab ul{
			flex-direction: column;
		}
		.tab li{
			width: 100%;
		}
    .tab a{
      bottom: 0;
      position: relative;
      margin: 0 auto;
      text-align: center;
      display: block;
    }

		.news-list a{
			width: 49%;
		}
		.news-list ul{
			justify-content: space-between;
		}
		.news-list li{
			display: block;
	    width: 100%;
    	height: 160px;
	    margin-left: 0;
	    padding: 4px 0 0 0;
		}
		.news-list .detail{
			text-overflow: ellipsis;
	    width: 100%;
	    box-sizing: border-box;
			p{
				overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
        min-width: auto !important;
        min-height: auto !important;
			}
		}
		.news-list .images{
    	height: 160px;
		}
	}
}
.news-topic{
  padding-bottom: 75px;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media all and (-ms-high-contrast: none){
.news-topic .news-list .cat{
  padding: 9px 20px 3px;
}
.mv img{
  bottom: -450px;
}
}
