// compileCompact: $1.css
@charset "UTF-8";

$sp: 680px;
$md:980px;
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}
@include sp{
  header .lower .block.-current ul a:last-child li{
      margin-bottom:20px;
  }
}

#top{
  header{
    .mv{
      @include sp{ height:35vh;}
    }
  }
}

#message{
  main h5{
    margin-top:1rem;
  }

}

#global{
  .wrp h3{
    margin-bottom:3rem;
    @include sp{ margin:3rem 0 2rem;}
  }
  .article-main .text > h4{
    @include sp{ margin-top: 1em; }
  }
}

#human{
  .tar + h5{
    @include sp{ margin-top: 1em; }
  }
}
#j-application{
  .flex_pc{
    .box:last-child{
      @include sp{ margin-top: 3em; margin-bottom:3em; }
    }
  }
  .article-main > :not(:last-child){
    @include sp{ margin-bottom:1em; }
  }
  .article-main .three-column{
    @include sp{ margin-top:0; }
  }
}

#access {
  .map-iamges{
    margin:0 auto;
    width:800px;
    @include sp{ width:100%;}
    img,.gmap{
      width:100%;
      margin-top:1.5rem;
    }
    .gmap{
      height:600px;
      @include sp{ height:300px;}
      iframe{
        width:100%;
        height:100%;
      }
    }

  }
}

#carrier{
  main h5{
    margin: .5rem auto 5rem;
    @include sp{ margin: 2rem auto 5rem;}
  }
}

@include md{
  .sp-header-right{
    float:right;
    display:flex;
    .sp-btn,.sp-icon{display:block;position:static;}
    .sp-btn{
      margin-right:.5em;
      width:48px;
      span{
        display: block;
      }
      .bar{
        width: 31px;
        margin: auto auto 8px;
      }
      .text{text-align: center;letter-spacing: 2.5px;}
    }
    .sp-icon{
      margin-right: .2em;
      margin-left: .2em;
    }
    #lamp{
      display:block;
      position:relative;
      top:auto;
      bottom:auto;
      right:auto;
      left:auto;
      span{
        right:0;
        left:0;
        bottom:3.5px;
        margin:auto;
        text-align: center;
      }
      &:after{
        position:absolute;
        top:1px;
      }
      &:before{
        position:absolute;
        top:1px;
      }
    }
  }
  header .lower .ex{
    line-height: 15px;
    padding-top: 7px;
  }
  header h1{
    padding-top:4px;
  }
}
