@media (max-width: 680px) { header .lower .block.-current ul a:last-child li { margin-bottom: 20px; } }

@media (max-width: 680px) { #top header .mv { height: 35vh; } }

#message main h5 { margin-top: 1rem; }

#global .wrp h3 { margin-bottom: 3rem; }

@media (max-width: 680px) { #global .wrp h3 { margin: 3rem 0 2rem; } }

@media (max-width: 680px) { #global .article-main .text > h4 { margin-top: 1em; } }

@media (max-width: 680px) { #human .tar + h5 { margin-top: 1em; } }

@media (max-width: 680px) { #j-application .flex_pc .box:last-child { margin-top: 3em; margin-bottom: 3em; } }

@media (max-width: 680px) { #j-application .article-main > :not(:last-child) { margin-bottom: 1em; } }

@media (max-width: 680px) { #j-application .article-main .three-column { margin-top: 0; } }

#access .map-iamges { margin: 0 auto; width: 800px; }

@media (max-width: 680px) { #access .map-iamges { width: 100%; } }

#access .map-iamges img, #access .map-iamges .gmap { width: 100%; margin-top: 1.5rem; }

#access .map-iamges .gmap { height: 600px; }

@media (max-width: 680px) { #access .map-iamges .gmap { height: 300px; } }

#access .map-iamges .gmap iframe { width: 100%; height: 100%; }

#carrier main h5 { margin: .5rem auto 5rem; }

@media (max-width: 680px) { #carrier main h5 { margin: 2rem auto 5rem; } }

@media (max-width: 980px) { .sp-header-right { float: right; display: flex; }
		.sp-header-right .sp-btn, .sp-header-right .sp-icon { display: block; position: static; }
		.sp-header-right .sp-btn { margin-right: .5em; width: 48px; }
		.sp-header-right .sp-btn span { display: block; }
		.sp-header-right .sp-btn .bar { width: 31px; margin: auto auto 8px; }
		.sp-header-right .sp-btn .text { text-align: center; letter-spacing: 2.5px; }
		.sp-header-right .sp-icon { margin-right: .2em; margin-left: .2em; }
		.sp-header-right #lamp { display: block; position: relative; top: auto; bottom: auto; right: auto; left: auto; }
		.sp-header-right #lamp span { right: 0; left: 0; bottom: 3.5px; margin: auto; text-align: center; }
		.sp-header-right #lamp:after { position: absolute; top: 1px; }
		.sp-header-right #lamp:before { position: absolute; top: 1px; }
		header .lower .ex { line-height: 15px; padding-top: 7px; }
		header h1 { padding-top: 4px; } }
